{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Help for early years providers : Home
{% endblock %}

{% block header %}
{% include "dec-23/includes/header-home.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "dec-23/includes/phase.html" %}
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"></div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Help for early years providers</h1>
            <p class="govuk-body-l">Guidance for people who work in early years, from the Department for Education. This site provides resources, activities and support articles for childminders and practitioners working with children in the early years.</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4 govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-full">
        <h2>Get help for your setting</h2>
        <p>Find helpful articles and resources to support you in your setting.</p>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="/dec-23/support-for-practitioners">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/support-section.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Support for practitioners</h3>
                <p>Guidance to help you in your practice, from curriculum planning to reducing paperwork.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="/dec-23/areas-of-learning">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/areas-section.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Areas of learning</h3>
                <p>Ideas for activities to do with children across the 7 areas of learning and development in the early years foundation stage.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="/dec-23/wellbeing-enrichment">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/wellbeing-section.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Wellbeing and enrichment</h3>
                <p>Resources to help you support children’s health, safety and learning in your setting.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
{% include "dec-23/includes/section-ctas.html" %}


{% endblock %}


{% block footer %}
{% include "dec-23/includes/other-resources.html" %}
{% include "dec-23/includes/footer.html" %}
{% endblock %}
