{% extends "layouts/main.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Help for early years providers : Home
{% endblock %}

{% block header %}
{% include "dec-23/includes/header-home.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "dec-23/includes/phase.html" %}

        
            <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4 govuk-breadcrumbs--collapse-on-mobile">
                <ol class="govuk-breadcrumbs__list govuk-body-s">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/areas-of-learning">Areas of learning</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/areas-of-learning/communication-and-language">Communication and language</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/areas-of-learning/communication-and-language/exploring-language">Exploring language</a>
                    </li>
                </ol>
            </div>
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-7 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Exploring language</h1>
            <p class="govuk-body-l">Learn more about exploring language as part of the early years foundation stage (EYFS), including advice from experts and suggested activities.</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter sticky mob-section">
        <input type="checkbox" name="menu-icon" id="menu-icon-chk" class="menu-btn" checked>
        <label class="menu-icon govuk-body-l" for="menu-icon-chk"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="#1d70b8" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg><span class="sm-open">Open</span><span class="sm-close">Close</span>&nbsp;section menu</label>
        <nav class="dfe-vertical-nav">
            <h2 class="dfe-vertical-nav--section-header">Communication and language</h2>
            <ul class="dfe-vertical-nav__section">

            <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link" href="/dec-23/areas-of-learning/communication-and-language">Overview</a>
            </li>

            <li class="dfe-vertical-nav__section-item ">
                <a class="dfe-vertical-nav__link" href="/dec-23/areas-of-learning/communication-and-language/interactions">Interactions</a>
                </li>
    
                <li class="dfe-vertical-nav__section-item  dfe-vertical-nav__section-item--current">
                <a class="dfe-vertical-nav__link" href="/dec-23/areas-of-learning/communication-and-language/exploring-language">Exploring language</a>
                </li>
    
                <li class="dfe-vertical-nav__section-item ">
                <a class="dfe-vertical-nav__link" href="/dec-23/areas-of-learning/communication-and-language/listening-and-understanding">Listening and understanding</a>
                </li>

            </ul>
        </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">

        <div class="content-with-side-menu">
            <p>These resources will help you when reviewing your current curriculum to make sure you are meeting the requirement of the revised communication and language area of learning.</p>

            <div class="contents-on-page">
                <p id="contents-list-heading" class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Contents on this page:</p>
              <ul class="contents-list__list">
              <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#why-exploring-language-is-important">Why exploring language is important</a></li>
              <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#video">Video</a></li>
              <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#what-the-eyfs-framework-says">What the EYFS framework says</a></li>
              <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#what-this-means-in-practice">What this means in practice</a></li>
              <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#suggested-activities">Suggested activities</a></li>
              <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#other-activities">Other activities</a></li>
              <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#what-other-nurseries-and-childminders-are-doing">What other nurseries and childminders are doing</a></li>
              <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#summary">Summary</a></li>
              <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#next-steps">Next steps</a></li>
            </ul></div>
            
            
              <div class="gem-c-print-link print-button govuk-!-margin-top-7"><button class="govuk-link gem-c-print-link__button" onclick="window.print()" data-module="print-link" >Print this page</button></div>
            
            <div class="govuk-!-margin-top-4">
              <h2 id="why-exploring-language-is-important">Why exploring language is important</h2>
            
            <p>Children’s speech develops from babble, to words, to simple sentences through hundreds of hours of interactions with adults. Studies show that once babies begin to understand words their vocabulary increases quickly:</p>
            
            <ul>
              <li>by age 1, children recognise about 50 words</li>
              <li>by age 3, children recognise about 1,000 words</li>
              <li>by age 5, children recognise about 10,000 words</li>
            </ul>
            
            <p>Having a large vocabulary helps children learn more. Words allow them to make sense of the world around them.</p>
            
            <p>Communication and language is a EYFS prime area which means that it’s one of the important building blocks for all the other areas. If it’s not developed early it’s difficult to achieve later.</p>
            
            <p>Children’s language skills are connected to their overall development and can predict their educational success. As speaking and listening develops, children build foundations for literacy, for making sense of visual and verbal signs and ultimately for reading and writing.</p>
            
            <p>Children from more disadvantaged backgrounds may have fewer chances to develop their vocabulary. However, research shows that lots can be done in the early years to avoid inequalities in children’s language development.</p>
            
            <p>Removing this inequality should be a priority for you. You can work towards this by providing a language rich environment full of stories, rhymes, songs and play with words that are of interest to children. Children can make good progress with early language development with the right support.</p>
            
            <p>There are also lots of benefits from learning more than one language (including sign language) for example, understanding of grammar, spelling, creativity and story-telling skills.</p>
            
            <h2 id="video">Video</h2>
            
            <p>In this video, an early years expert explains the importance of exploring language in the early years foundation stage framework. There are also some tips on how to support children in this area.</p>
            
            <div class="govspeak-embed-container"><iframe class="govspeak-embed-video" src="https://www.youtube.com/embed/ZvMeKnJWQz4?enablejsapi=1&amp;origin=https://help-for-early-years-providers.education.gov.uk" title="OPTIONAL TITLE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
            
            <h2 id="what-the-eyfs-framework-says">What the EYFS framework says</h2>
            
            <p>Through conversation, story-telling and role play, where children share their ideas with support and modelling from their teacher, and sensitive questioning that invites them to elaborate, children become comfortable using a rich range of vocabulary and language structures.</p>
            
            <p><a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">Statutory framework for the early years foundation stage</a>, page 8.</p>
            
            <h2 id="what-this-means-in-practice">What this means in practice</h2>
            
            <p>Children develop strong language skills when they are involved in playful, language-rich environments with opportunities to learn new words. Hands-on experiences encourage learning and provide a context for new words to be explored. For example, it’s easier for children to learn vegetable names when they are touching or tasting them.</p>
            
            <p>Songs and rhymes offer fun ways to explore the sounds and patterns of words. Poems with actions and repetition help children listen to the structure of spoken language and explore new words.</p>
            
            <p>Reading stories aloud and sharing books supports children to develop language and understand new concepts. Encouraging children to notice pictures and understand words, will strengthen their language skills and widen their vocabulary.</p>
            
            <p>Non-fiction and high-quality texts such as story books, encourage children to make sense of the world around them using language. Encouraging talk when sharing books is an excellent way to support communication and language.</p>
            
            <p>Children extend language with pretend play and acting out stories. By offering props and ideas you can deepen the learning. This may include imaginative play with small world resources such as dolls houses, farms or garages, open ended materials (those which can be used in more than one way) such as blocks or loose parts. You can encourage language development through creativity and problem solving during activities like:</p>
            
            <ul>
              <li>painting</li>
              <li>exploring</li>
              <li>observing nature</li>
              <li>music</li>
            </ul>
            
            <h2 id="suggested-activities">Suggested activities</h2>
            
            <h3 id="story-scribing">Story scribing</h3>
            
            <p><img src="/public/images/commsandlang-exploringlang-storyscribing.jpg" alt="Three laminated picture books" title="Three laminated picture books" class="full-width-img"></p>
            
            <p>Children are born communicators and often practice their developing language skills by engaging in story-telling, through role play, small world and made-up games.</p>
            
            <p>You can encourage and support this exploration of early language by scaffolding children’s learning and writing down exactly what children say, in the form of story books, for them to enjoy over and over again. Young children love repetition and this type of activity will offer important opportunities for them to feel their voice has been heard.</p>
            
            <p>For younger children story scribing may involve creating picture books of recent experiences, such as trips to the park or birthday parties, with key people and phrases included. These can be created using pre-made photo albums or simply by stringing together printed photographs. Often these can be contributed to by parents or carers and allow practitioners to gain a deeper understanding of a child’s home learning environment, including key vocabulary.</p>
            
            <p>For older children, you can transcribe more elaborate and creative experiences such as children’s own interpretations of familiar stories, superhero play adventures or the ‘rules’ of a game the children have invented. Again, these can be made into a paper story book or displayed as storyboards for children to return to and follow.</p>
            
            <p>Often children enjoy re-enacting these stories with practitioners and their peers, so a simple marked out ‘performance area’ or cardboard box ‘theatre’ may support children to share and enjoy these ‘stories’ further.</p>
            
            <h3 id="how-the-activity-links-to-the-other-areas-of-learning">How the activity links to the other areas of learning</h3>
            
            <p>This activity links to children’s <a href="/personal-social-and-emotional-development">personal, social and emotional development</a> and <a href="/literacy">literacy</a>, as they share stories and interact with others. It also provides opportunities for children to engage in <a href="/expressive-arts-and-design">expressive arts and design</a>.</p>
            
            <h2 id="sensitively-narrating-childrens-play">Sensitively narrating children’s play</h2>
            
            <p>Children learn language when it is introduced to them sensitively, at a time it is relevant to them, in manageable amounts, and with plenty of time to process. One way of encouraging children’s understanding, and later use, of verbal language is to offer examples to them as they play. Narrating children’s play in these ways:</p>
            
            <p>Commenting, or describing what children are doing, as they are doing it. Using simple, repetitive phrases and pausing in between. This is particularly helpful for complex concepts, for example things you cannot hold, like ‘red’, ‘bigger’ or ‘tomorrow’ and should never feel like you are overwhelming the child with words without meaning.</p>
            
            <p>For example, during block play: “your tower is getting taller and taller”.</p>
            
            <p>Expanding on what children say as you reply, adding one or 2 words. This shows children you are interested and supports them to begin linking words and ideas in play. It can also be helpful to remember that, if you ask a child one question and they are unable to reply, you may demonstrate responding by offering 4 comments.</p>
            
            <p>For example, ‘what have you got?’ (question) Pause ‘It’s a car’, ‘It’s a red car’, ‘It’s a red, fast car’, ‘It goes vrroomm!’ (comments).</p>
            
            <p>Recasting, or modelling, back what the child says, in the right form, but without openly correcting them. For example, in the role play area, if a child said ‘the baby sleeped in the bed’ you might say ‘oh, shhh, the baby’s sleeping in the bed’ to support the understanding of the complex relationships between grammar and vocabulary.</p>
            
            <p>Pausing, allowing children extra time to respond, before speaking again. This supports language use as children’s brains develop and fine-tune those important connections which enable them to receive and understand messages, before forming and expressing their response.</p>
            
            <p>For example, when talking to a child about their play, say something but then wait several seconds (count to 7 in your head) and keep looking at them so that they know you are interested and listening for their response.</p>
            
            <p>Be flexible and responsive to different learning situations and interact in an authentic way having been invited into a child’s play. This will help to make sure that thinking is not interrupted and there is a sense of equality between you and the child.</p>
            
            <h2 id="other-activities">Other activities</h2>
            
            <p>This clip shows <a rel="external" href="https://www.sirenfilms.co.uk/library/evan-sings-action-song/">a practitioner tuning in to a young child singing</a> and joining in with the words, following his lead to acknowledge his interests and being a playful communication partner.</p>
            
            <h2 id="what-other-nurseries-and-childminders-are-doing">What other nurseries and childminders are doing</h2>
            
            <div role="note" aria-label="Information" class="application-notice info-notice">
            <p>”Central to our practice is establishing a shared context to start the conversational journey. Planning learning experiences through the ‘lens of accessibility’ with lots of ways for English as an additional language children to attend, participate and communicate without needing words. Visual signs, simple language and familiar routines all help. Children develop the motivation of being valued members of the group and can share their knowledge and interests with us, even if we do not share their language. Familiar objects to model telling a story create a point of shared understanding and new vocabulary can be introduced. Natural, playful repetition found in all good story telling supports learners to thrive”.</p>
            </div>
            
            <p>Jet, St Pauls Nursery School and Children’s Centre, Bristol</p>
            
            <h2 id="summary">Summary</h2>
            
            <ul>
              <li>Language development in the first years of life is important to later educational success.</li>
              <li>Communication and language is a prime area in the EYFS and is difficult for children to develop later on.</li>
              <li>Language development is best supported in a playful language environment full of stories, songs, rhymes, signs, talk and imaginative play.</li>
              <li>You are important in narrowing the word gap and supporting all children to make good progress.</li>
              <li>You can be a skilled communication partner with children to support their language development.</li>
            </ul>
            
            <h2 id="next-steps">Next steps</h2>
            
            <ul>
              <li>Consider how having an understanding of typical communication and language development stages could further improve your practice.</li>
              <li>Review how you meet all children’s communication needs, including non-verbal learners.</li>
              <li>Strengthen partnerships with parents and carers, and professionals to support children’s speech, language and communication.</li>
              <li>Review your curriculum to ensure you cover the requirements in the EYFS for this area of learning.</li>
            </ul>

            {% include "dec-23/includes/citation.html" %}
            {% include "dec-23/includes/back-to-top.html" %}
            {% include "dec-23/includes/print-this-page.html" %}
        </div>

        
    </div>
</div>
</div>
{% include "dec-23/includes/page-ctas.html" %}
{% include "dec-23/includes/training-cta.html" %}
{% endblock %}


{% block footer %}

{% include "dec-23/includes/footer.html" %}
{% endblock %}
