{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Help for early years providers : Home
{% endblock %}

{% block header %}
{% include "dec-23/includes/header-areas.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "dec-23/includes/phase.html" %}

        
            <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4">
                <ol class="govuk-breadcrumbs__list govuk-body-s">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/areas-of-learning">Areas of learning</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/areas-of-learning/communication-and-language">Communication and language</a>
                    </li>
                    
                </ol>
            </div>
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-7 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Overview</h1>
            <p class="govuk-body-l">Access resources, activity ideas and advice for communication and language in the early years.</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter sticky mob-section">
        <input type="checkbox" name="menu-icon" id="menu-icon-chk" class="menu-btn" checked>
        <label class="menu-icon govuk-body-l" for="menu-icon-chk"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="#1d70b8" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg><span class="sm-open">Open</span><span class="sm-close">Close</span>&nbsp;section menu</label>
        <nav class="dfe-vertical-nav">
            <h2 class="dfe-vertical-nav--section-header">Communication and language</h2>
            <ul class="dfe-vertical-nav__section">

            <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
            <a class="dfe-vertical-nav__link" href="/dec-23/areas-of-learning/communication-and-language">Overview</a>
            </li>

            <li class="dfe-vertical-nav__section-item ">
                <a class="dfe-vertical-nav__link" href="/dec-23/areas-of-learning/communication-and-language/interactions">Interactions</a>
                </li>
    
                <li class="dfe-vertical-nav__section-item ">
                <a class="dfe-vertical-nav__link" href="/dec-23/areas-of-learning/communication-and-language/exploring-language">Exploring language</a>
                </li>
    
                <li class="dfe-vertical-nav__section-item ">
                <a class="dfe-vertical-nav__link" href="/dec-23/areas-of-learning/communication-and-language/listening-and-understanding">Listening and understanding</a>
                </li>

            </ul>
        </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">

        <div class="content-with-side-menu">
            
            <p>These resources will help you when reviewing your current curriculum to make sure you are meeting the requirement of the revised communication and language area of learning.</p>

            <p>As you make changes to your curriculum consider what you want children to learn first and plan opportunities for them to achieve this.</p>

            <p>Please bear in mind any current covid restrictions and/or advice when undertaking any suggested activities.</p>

            <h2 id="what-the-early-years-foundation-stage-eyfs-framework-says-about-communication-and-language">What the early years foundation stage (EYFS) framework says about communication and language</h2>

            <p>The development of children’s spoken language underpins all seven areas of learning and development.</p>

            <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
            Read more
            </span>
            </summary>
            <div class="govuk-details__text">
            <p>Children's back-and-forth interactions from an early age form the foundations for language and cognitive development.</p>

            <p>The number and quality of the conversations they have with adults and peers throughout the day in a language-rich environment is crucial.</p>

            <p>By commenting on what children are interested in or doing, and echoing back what they say with new vocabulary added, practitioners will build children's language effectively.</p>

            <p>Reading frequently to children, and engaging them actively in stories, non-fiction, rhymes and poems, and then providing them with extensive opportunities to use and embed new words in a range of contexts, will give children the opportunity to thrive.</p>

            <p>Through conversation, story-telling and role play, where children share their ideas with support and modelling from their teacher, and sensitive questioning that invites them to elaborate, children become comfortable using a rich range of vocabulary and language structures.</p> 
            </div>
            </details>

            
        </div>

        
    </div>
</div>
{% include "dec-23/includes/page-ctas.html" %}
{% include "dec-23/includes/training-cta.html" %}
{% endblock %}


{% block footer %}

{% include "dec-23/includes/footer.html" %}
{% endblock %}
