{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Help for early years providers : Home
{% endblock %}

{% block header %}
{% include "dec-23/includes/header-areas.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "dec-23/includes/phase.html" %}

        
            <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4">
                <ol class="govuk-breadcrumbs__list govuk-body-s">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/areas-of-learning">Areas of learning</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/areas-of-learning/communication-and-language">Communication and language</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/areas-of-learning/communication-and-language/listening-and-understanding">Listening and understanding</a>
                    </li>
                </ol>
            </div>
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-7 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Listening and understanding</h1>
            <p class="govuk-body-l">Learn more about listening and understanding as part of the early years foundation stage (EYFS), including advice from experts and suggested activities.</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter sticky">
        <input type="checkbox" name="menu-icon" id="menu-icon-chk" class="menu-btn" checked>
        <label class="menu-icon govuk-body-l" for="menu-icon-chk"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="#1d70b8" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg> Section menu</label>
        <nav class="dfe-vertical-nav">
            <h2 class="dfe-vertical-nav--section-header">Communication and language</h2>
            <ul class="dfe-vertical-nav__section">

            <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link" href="/dec-23/areas-of-learning/communication-and-language">Overview</a>
            </li>

            <li class="dfe-vertical-nav__section-item ">
                <a class="dfe-vertical-nav__link" href="/dec-23/areas-of-learning/communication-and-language/interactions">Interactions</a>
                </li>
    
                <li class="dfe-vertical-nav__section-item ">
                <a class="dfe-vertical-nav__link" href="/dec-23/areas-of-learning/communication-and-language/exploring-language">Exploring language</a>
                </li>
    
                <li class="dfe-vertical-nav__section-item  dfe-vertical-nav__section-item--current">
                <a class="dfe-vertical-nav__link" href="/dec-23/areas-of-learning/communication-and-language/listening-and-understanding">Listening and understanding</a>
                </li>

            </ul>
        </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">

        <div class="content-with-side-menu">
            <p>These resources will help you when reviewing your current curriculum to make sure you are meeting the requirement of the revised communication and language area of learning.</p>

            <div class="contents-on-page"><p id="contents-list-heading" class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">
               Contents on this page:
              </p>
              <ul class="contents-list__list">
                <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#why-listening-and-understanding-is-important">Why listening and understanding is important</a></li>
                <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#video">Video</a></li>
                <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#what-the-eyfs-framework-says">What the EYFS framework says</a></li>
                <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#what-this-means-in-practice">What this means in practice</a></li>
                <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#suggested-activities">Suggested activities</a></li>
                <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#other-activities">Other activities</a></li>
                <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#what-other-nurseries-and-childminders-are-doing">What other nurseries and childminders are doing</a></li>
                <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#summary">Summary</a></li>
                <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#next-steps">Next steps</a></li>
            </ul></div>
            
            
              <div class="gem-c-print-link print-button govuk-!-margin-top-7"><button class="govuk-link gem-c-print-link__button" onclick="window.print()" data-module="print-link" >Print this page</button></div>
            
              <div class="govuk-!-margin-top-4">
                <h2 id="why-listening-and-understanding-is-important">Why listening and understanding is important</h2>
              
              <p>Communication requires 2 foundation skills, listening and understanding. Children develop these by observing and reacting to others. This influences communication and talking later in life.</p>
              
              <p>Listening is different to simply hearing. It means interpreting different sounds, while beginning to understand social interactions. Understanding means processing what’s being communicated, beginning with simple ideas and vocabulary.</p>
              
              <p>Most babies are born able and eager to interact, but some need extra support. You can play an important part in all children’s overall communication development. Listen to children’s interests and engage in warm interactions with them. Use children’s names to get their attention and keep it.</p>
              
              <p>Children should develop close listening and attention skills, so do not have music on all the time. Think also about playing a variety of sounds, such as environmental noises like rain or the rainforest, as well as stories and rhymes.</p>
              
              <p>In return listen closely to the children. Attend to their wants, needs and individual interests. Children will feel their input is valued, and that they’re appropriately supported. They’ll be much more motivated to listen, understand and learn from others.</p>
              
              <h2 id="video">Video</h2>
              
              <p>In this video, an early years expert explains the importance of listening and understanding in the early years foundation stage framework. There are also some tips on how to support children in this area.</p>
              
              <div class="govspeak-embed-container"><iframe class="govspeak-embed-video" src="https://www.youtube.com/embed/wLPQ0Ah75I0?enablejsapi=1&amp;origin=https://help-for-early-years-providers.education.gov.uk" title="OPTIONAL TITLE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></div>
              
              <h2 id="what-the-eyfs-framework-says">What the EYFS framework says</h2>
              <p>By commenting on what children are interested in or doing, and echoing back what they say with new vocabulary added, practitioners will build children’s language effectively. Reading frequently to children, and engaging them actively in stories, non-fiction, rhymes and poems, and then providing them with extensive opportunities to use and embed new words in a range of contexts, will give children the opportunity to thrive.</p>
              
              <p><a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">Statutory framework for the early years foundation stage</a>, page 8.</p>
              
              <h2 id="what-this-means-in-practice">What this means in practice</h2>
              <p>To support early listening and understanding, consider your setting’s physical and emotional environment. Children should be able to practise listening closely, and be encouraged to focus their attention. They will benefit from a quiet environment when they are learning to listen and understand. There are different attention stages:</p>
              
              <ul>
                <li>Generally between 0 and 1 year, children are easily distracted. Keep their attention by giving them your full attention. Demonstrate focus when playing with and responding to them. Use wait-and-see activities such as ‘peek-a-boo’.</li>
                <li>Generally between 1 and 2 years, children can keep focus but cannot shift it alone. Support early understanding with instructions, gestures and prompts, for example showing a child their nappy before changing it. Respond to their play and words, to help them concentrate and listen.</li>
                <li>Generally between 2 and 3 years, children can shift focus between tasks more easily. However, they will need your support. Do this through light touch and using their name.</li>
                <li>Generally between 3 and 4 years, children pay attention to different things at the same time. However they may still find this difficult and need support. Use clear prompts to help them switch their attention between tasks and listen to instructions. Something like calling their name, followed by a simple sentence like ‘please stop and listen’ would work well. This prepares them for the more structured learning in the reception year.</li>
              </ul>
              
              <h2 id="suggested-activities">Suggested activities</h2>
              
              <h3 id="songs-to-encourage-sound-and-word-play">Songs to encourage sound and word play</h3>
              
              <p><img src="https://help-for-early-years-providers.education.gov.uk/rails/active_storage/blobs/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBc0VCIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--b7254872329036ff807c638204e006ef8e6582be/comms&amp;lang_listening_activity1%20(1).jpg" alt="A practitioner signing to children with actions" title="A practitioner signing to children with actions"></p>
              
              <p>Children love singing silly songs, especially involving actions, movement and laughter. Playing around with sounds can develop listening skills in a fun way, encouraging confidence with new words. Changing words in familiar songs is great fun, and children can consider the sound differences they hear.</p>
              
              <p>You’ll need some of your favourite songs that have easy words to play with.</p>
              
              <p>Try these examples of song word play:</p>
              
              <ul>
                <li>’Polly puts the pizza in’, to the tune of ‘Polly put the kettle on’. Change the verses with different children’s names, such as:
                  <ul>
                    <li>‘Suzie sizzles sausages’</li>
                    <li>‘Ben bites biscuits bit by bit’</li>
                    <li>‘Carly crunches cabbages’</li>
                  </ul>
                </li>
                <li>’A Hedgehog is very prickly’ - to the tune of ‘One finger, one thumb, keep moving’.
                  <ul>
                    <li>’A hedgehog is very prickly</li>
                    <li>A hedgehog is very prickly,</li>
                    <li>A hedgehog is very prickly</li>
                    <li>He couldn’t be anything else!’</li>
                  </ul>
                </li>
              </ul>
              
              <p>Choose a new animal, changing the describing word each time, such as ‘a crocodile is very snappy’, ‘a kitten is very fluffy’.</p>
              
              <p>You can choose whichever songs you like, in line with current classroom themes or children’s special interests.</p>
              
              <p>These song examples are from ‘Bingo Lingo’, by Helen MacGregor.</p>
              
              <h3 id="how-this-activity-links-to-the-other-areas-of-learning">How this activity links to the other areas of learning</h3>
              
              <p>Children can learn different ways of using songs and words <a href="/understanding-the-world/widening-vocabulary">(widening vocabulary)</a>. They will consider how similar sounds can be amusing <a href="/literacy/reading-comprehension">(comprehension)</a>. They can explore the fun of song and performance <a href="/expressive-arts-and-design">(expressive arts and design)</a>. They can learn how to work with others while having fun and learning <a href="/personal-social-and-emotional-development/relationships">relationships</a>.</p>
              
              <h3 id="listening-treasure-boxes">Listening treasure boxes</h3>
              
              <p>You’ll need items that make interesting noises in a ‘treasure box’, for example:</p>
              
              <ul>
                <li>crinkly paper</li>
                <li>noise-making toys</li>
                <li>pots and pans</li>
                <li>musical instruments</li>
              </ul>
              
              <p>Introduce the box to a small group of children, encouraging them to explore the items.</p>
              
              <p>Listen carefully to individual sounds as the children take turns. Turn-taking is also an important communication skill, needing careful listening.</p>
              
              <p>With older, more capable children, get them to take turns bringing an item behind a screen, making the noise while the group guesses what it might be.</p>
              
              <p>Once the group is familiar with all items, take one away and ask if they can remember, replicating or even describing its noise.</p>
              
              <p>The box can be left out for children to explore freely, with positive interactions from you to support listening development.</p>
              
              <h3 id="how-the-activity-links-to-other-areas-of-learning">How the activity links to other areas of learning</h3>
              
              <p>Children can learn how to hold instruments and other noise-making materials <a href="/physical-development/fine-motor-skills">(fine motor skills)</a>. They can arrange the best way to cooperate with friends and take turns <a href="/personal-social-and-emotional-development/relationships">(relationships)</a>. They can develop their memory skills to think about which items might be missing <a href="/mathematics/patterns-and-connections">(patterns and connections)</a>. They can develop their skills around music and performance <a href="/expressive-arts-and-design">(expressive arts and design)</a>.</p>
              
              <h2 id="other-activities">Other activities</h2>
              
              <p><a rel="external" href="https://resources.leicestershire.gov.uk/education-and-children/early-years/childcare-practice/teaching-learning-and-assessment/every-child-a-talker-ecat/strategies-and-resources">Every Child a Talker</a>, various activities for children aged 0 to 5.</p>
              
              <p><a rel="external" href="https://youtu.be/IMXrCgvlJTI">Confident communicators</a> a video about communication and understanding.</p>
              
              <p>Learn <a rel="external" href="https://makaton.org/">Makaton</a> - a unique language programme that uses symbols, signs and speech to enable people to communicate.</p>
              
              <h2 id="what-other-nurseries-and-childminders-are-doing">What other nurseries and childminders are doing</h2>
              
              <div role="note" aria-label="Information" class="application-notice info-notice">
              <p>”We use ‘sound bags’ in focused small groups, suitable for children 15 to 18 months, but easily adapted. Use a calm, quiet, distraction-free space. For smaller settings, this may be whilst other children are napping or engaged in independent activities. Gather some objects in a bag, represented by a sound. Choose familiar or motivational objects for a specific child, such as their favourite animal. Get children’s attention by showing the bag, bringing objects out one-by-one and making the sound. Let the chosen child hold and play with each object, providing a multi-sensory approach. Ask them to take turns listening and finding objects for each sound. If a child seems comfortable, encourage them to make the object’s sound themselves, but do not force this. To adapt to each child’s needs, use signs or symbols, rather than sounds, and encourage them to explore objects using the sense they rely on most.”</p>
              </div>
              
              <p>Amy, Pen Green Centre, Northamptonshire.</p>
              
              <h2 id="summary">Summary</h2>
              
              <ul>
                <li>Basic communication begins with two important skills: listening, and understanding.</li>
                <li>Listening and understanding are the foundation for later learning and development, for example talking, writing, and communicating with friends.</li>
                <li>Good listening and understanding helps with all EYFS areas, particularly developing social skills, attention, following instructions and wider communication.</li>
                <li>Babies, toddlers and young children must develop the ability to focus and maintain concentration, in order to learn.</li>
                <li>Listening, which is different to hearing, means interpreting sounds and understanding their source, as well as meaning.</li>
              </ul>
              
              <h2 id="next-steps">Next steps</h2>
              
              <ul>
                <li>Consider your setting’s physical and emotional environment.</li>
                <li>Consider opportunities for children to listen and understand sounds.</li>
                <li>Discuss the importance of listening and understanding with parents and carers.</li>
                <li>Notice and make time for listening and understanding during everyday interactions.</li>
                <li>Review your curriculum to ensure you cover the requirements in the EYFS for this area of learning.</li>
              </ul>

            {% include "dec-23/includes/back-to-top.html" %}
        </div>

        
    </div>
</div>
</div>
{% include "dec-23/includes/page-ctas.html" %}
{% include "dec-23/includes/training-cta.html" %}
{% endblock %}


{% block footer %}

{% include "dec-23/includes/footer.html" %}
{% endblock %}
