<section class="hf-other dfe-content-page--header">
    <div class="govuk-width-container">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
              <h2 class="govuk-heading-l">Other early years resources from the Department for Education </h2>
              <p class="govuk-body-l">The Department for Education also provides the following free websites and resources to support people working in the early years.</p>
                <p class="govuk-body-l govuk-!-margin-bottom-1 govuk-!-font-weight-bold"><a href="#">Early years child development training</a></p>
                <p class="govuk-body-s hf-second-color">Free online training providing an overview of child development and practical advice for supporting children in your setting</p>

                <p class="govuk-body-l govuk-!-margin-bottom-1 govuk-!-font-weight-bold"><a href="#">Early years foundation stage (EYFS) statutory framework</a></p>
                <p class="govuk-body-s hf-second-color">The standards that school and childcare providers must meet for the learning, development and care of children from birth to 5.</p>

                <p class="govuk-body-l govuk-!-margin-bottom-1 govuk-!-font-weight-bold"><a href="#">Changes to the early years foundation stage framework</a></p>
                <p class="govuk-body-s hf-second-color">Important information about the most recent changes to the EYFS framework</p>
                
                <p class="govuk-body-l govuk-!-margin-bottom-1 govuk-!-font-weight-bold"><a href="#">Development matters</a></p>
                <p class="govuk-body-s hf-second-color">Non-statutory curriculum guidance for the early years foundation stage.</p>

                <p class="govuk-body-l govuk-!-margin-bottom-1 govuk-!-font-weight-bold"><a href="#">Guidance on completing the EYFS progress check at age 2</a></p>
                <p class="govuk-body-s hf-second-color">Guidance to provide support for early years practitioners when completing the early years foundation stage (EYFS) progress check at age 2.</p>
            </div>
          </div>
      </div>
</section>