<section class="govuk-!-margin-top-7 govuk-!-margin-bottom-7">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="cta-banner">
                <div class="cta-banner-text">
                    <span class="govuk-caption-m">Other early years resources from the Department for Education</span>
                    <h2 class="govuk-heading-l">Early years child development training</h2>
                    <p>Free online training providing an overview of child development and practical advice for supporting children in your setting</p>
                    <p><a href="#" class="govuk-!-font-weight-bold">Learn more and enrol</a></p>
                </div>
                <div class="cta-banner-img">
                    <img class="full-width-img" width="200" alt="" title="" src="/public/images/training-link.jpg">
                </div>
            </div>
        </div>
    </div>
</section>