{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Help for early years providers : Home
{% endblock %}

{% block header %}
{% include "dec-23/includes/header-wellbeing.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "dec-23/includes/phase.html" %}

        
        <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4">
            <ol class="govuk-breadcrumbs__list govuk-body-s">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/dec-23">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/dec-23/wellbeing-enrichment">Wellbeing and enrichment</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/dec-23/wellbeing-enrichment/nutrition">Nutrition</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/dec-23/wellbeing-enrichment/nutrition/healthy-plate">What is a healthy plate?</a>
                </li>
            </ol>
        </div>
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-7 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">What is a healthy plate?</h1>
            <p class="govuk-body-l">For the first six months, breastmilk or formula is the only recommended food for babies. After six months, babies need additional foods.</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter sticky mob-section">
        <input type="checkbox" name="menu-icon" id="menu-icon-chk" class="menu-btn" checked>
        <label class="menu-icon govuk-body-l" for="menu-icon-chk"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="#1d70b8" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg><span class="sm-open">Open</span><span class="sm-close">Close</span>&nbsp;section menu</label>
        <nav class="dfe-vertical-nav">
            <h2 class="dfe-vertical-nav--section-header">Nutrition</h2>
            <ul class="dfe-vertical-nav__section">

            <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link" href="/dec-23/wellbeing-enrichment/nutrition">Overview</a>
            </li>

            <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link" href="/dec-23/wellbeing-enrichment/nutrition/setting-habits">Setting children’s food habits early</a>
            </li>

            <li class="dfe-vertical-nav__section-item  dfe-vertical-nav__section-item--current">
            <a class="dfe-vertical-nav__link" href="/dec-23/wellbeing-enrichment/nutrition/healthy-plate">What is a healthy plate?</a>
            </li>

            <li class="dfe-vertical-nav__section-item ">
            <a class="dfe-vertical-nav__link" href="#">Planning menus</a>
            </li>

            <li class="dfe-vertical-nav__section-item ">
            <a class="dfe-vertical-nav__link" href="#">Cost effective healthy food</a>
            </li>

            <li class="dfe-vertical-nav__section-item ">
            <a class="dfe-vertical-nav__link" href="#">Food activities with children</a>
            </li>
            </ul>
        </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">

        <div class="content-with-side-menu">
            
            <h2>The four food groups </h2>

            <p>Children aged 5 and under have different nutritional requirements to adults. A healthy, balanced diet is based on the four food groups. These provide essential nutrients to help them grow and develop.</p>

            <ol>
                <li><span class="govuk-!-font-weight-bold">Starchy carbohydrates include:</span>
                    <ul class="govuk-!-margin-top-2">
                        <li>bread</li>
                        <li>potatoes, sweet potatoes and other starchy root vegetables</li>
                        <li>Pasta and noodles</li>
                        <li>rice and other grains and breakfast cereals<br>
                            - Main nutrients: carbohydrates, fibre, B vitamins and iron.</li>
                    </ul>
                </li>
                
                <li><span class="govuk-!-font-weight-bold">Fruit and vegetables include:</span>
                    <ul class="govuk-!-margin-top-2">
                        <li>fresh, frozen, canned or dried fruit and vegetables</li>
                        <li>pulses such as lentils and beans<br>
                            - Main nutrients provided: carotenes (a form of vitamin A), vitamin C, zinc, iron and fibre.</li>
                    </ul>
                </li>

                <li><span class="govuk-!-font-weight-bold">Proteins include:</span>
                    <ul class="govuk-!-margin-top-2">
                        <li>meat and poultry</li>
                        <li>fish and shellfish</li>
                        <li>eggs</li>
                        <li>meat alternatives, pulses and nuts.<br>
                            - Main nutrients provided: protein, iron, zinc, omega 3 fatty acids, vitamins A and D.</li>
                    </ul>
                </li>

                <li><span class="govuk-!-font-weight-bold">Dairy and plant-based alternatives include:</span>
                    <ul class="govuk-!-margin-top-2">
                        <li>milk</li>
                        <li>cheese</li>
                        <li>yoghurt and fromage frais</li>
                        <li>custard and puddings made from milk.<br>
                            - Main nutrients provided: protein, calcium and vitamin A.</li>
                    </ul>
                </li>
            </ol>

            <p>[Link to Food groups and recommended servings graphic]</p>

            <h2>Nutritional requirements for children aged 4 and under </h2>

            <p>Children generally need less energy than adults.</p>

            <p>On average, adults require 2,000 to 2,500 calories a day (usually called kcals on food packaging). Children aged 5 and under need on average between 750 and 1,400 calories.</p>


            <table class="govuk-table">

                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Age</th>
                    <th scope="col" class="govuk-table__header hf-tab-width">Average total energy per day</th>
                    <th scope="col" class="govuk-table__header hf-tab-width">Breakfast</th>
                    <th scope="col" class="govuk-table__header hf-tab-width">Lunch and snack</th>
                    <th scope="col" class="govuk-table__header hf-tab-width">Tea and snack</th>
                    <th scope="col" class="govuk-table__header hf-tab-width">Snack only</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">1</td>
                    <td class="govuk-table__cell">750 calories </td>
                    <td class="govuk-table__cell">150 calories </td>
                    <td class="govuk-table__cell">300 calories </td>
                    <td class="govuk-table__cell">225 calories </td>
                    <td class="govuk-table__cell">75 calories </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">2-3</td>
                    <td class="govuk-table__cell">1,050 calories </td>
                    <td class="govuk-table__cell">200 calories </td>
                    <td class="govuk-table__cell">425 calories </td>
                    <td class="govuk-table__cell">325 calories </td>
                    <td class="govuk-table__cell">100 calories </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">4-5</td>
                    <td class="govuk-table__cell">1,435 calories</td>
                    <td class="govuk-table__cell">285 calories </td>
                    <td class="govuk-table__cell">575 calories </td>
                    <td class="govuk-table__cell">425 calories </td>
                    <td class="govuk-table__cell">150 calories </td>
                  </tr>
                </tbody>
              </table>

            <p>A handy tip to remember what children need each day is 5-5-3-2:</p>
            <ul>
                <li><span class="govuk-!-font-weight-bold">Five</span> portions of fruit and veg – although the more the better </li>
                <li><span class="govuk-!-font-weight-bold">Five</span> portions of carbs </li>
                <li><span class="govuk-!-font-weight-bold">Three</span> portions of dairy or plant-based alternatives</li>
                <li><span class="govuk-!-font-weight-bold">Two</span> portions of protein </li>
            </ul>

            <p>This is just a guideline. Children should feel able to indicate when they are full or still hungry.</p>

            <p>Foods and drinks high in fat, salt and sugars, like cakes, pastries, biscuits, chocolate, crisps, fried foods and fizzy drinks, should only be consumed occasionally. It’s best to offer water or milk to drink, and avoid offering smoothies and fruit juices as these are full of fruit sugars. </p>

            <p>A popular resource for a healthy and balanced diet is <a href="https://www.gov.uk/government/publications/the-eatwell-guide">The Eatwell Guide</a>. This shows what a healthy plate should look like in one day. But this plate was created for adults and school children and doesn’t strictly apply to children aged 5 and under.</p>  

            <p>[Link to healthy plate graphic]</p>

            <h2>Portion size for children aged 5 and under</h2> 

            <p>A portion size for a child aged 5 and under is generally smaller than an adult portion.</p>  
            
            <p>The portion size should be in proportion to a child's body size and appetite. Portion size for a toddler may be roughly the size of their clenched fist for a main meal and half a piece of fruit or a tablespoon of vegetables for a snack.</p>  
            
            <p>Monitor a child's appetite and adjust portion sizes to make sure they get enough nutrients. You should avoid particularly large portions (they can always ask for more) and encourage children to stop eating when they feel full. </p>
            
            <p>[Link to portion size graphic]</p>

            <h2>Allergies</h2> 

            <p>Food allergies develop when the body’s immune system recognises the food proteins as invaders and releases chemicals to attack.</p>
            <p>Allergies to foods can cause serious reactions. These include hives, nausea, closing of the breathing passages, a sudden drop in blood pressure and even death in the most severe cases.</p>
            <p>The most common food allergies in the UK are eggs, milk and nuts, but there are many others. </p>
            <p>[Link to common allergens table]</p>
            <p>You must find out if a child has any allergies before they are admitted into your setting. As children may be trying some foods for the first time in your setting you must know how to recognise the signs and symptoms of an allergic reaction. If you suspect that child has a food allergy, encourage parents or carers to seek advice and diagnosis from a doctor.</p>
            <p>To avoid mixing foods that are safe with those that cause allergic reactions, always think about food allergies when the food is being delivered, sotred, prepared and cooked. Make sure that parents, early years practitioners and kitchen staff are all communicating with each other about food allergies and sharing information about which children have which allergies.</p>

            <p>Tips to stay safe include:</p>
            <ul>
                <li>label foods clearly with their content</li>
                <li>have separate cupboards for similar items, for example, gluten free flour and regular flour </li>
                <li>avoid cross-contamination by:
                    <ol>
                        <li>washing hands</li>
                        <li>using colour-coded equipment and utensils, for example labelling a child’s cup with their name if they have milk allergies</li>
                        <li>having separate preparation areas for foods that are allergens</li>
                        <li>have rules for visitors around bringing food in to your setting</li>
                    </ol>
                </li>
            </ul>


            {% include "dec-23/includes/back-to-top.html" %}
        </div>

        
    </div>
</div>
{% include "dec-23/includes/page-ctas.html" %}
{% include "dec-23/includes/training-cta.html" %}
{% endblock %}


{% block footer %}

{% include "dec-23/includes/footer.html" %}
{% endblock %}
