{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Help for early years providers : Home
{% endblock %}

{% block header %}
{% include "dec-23/includes/header-wellbeing.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "dec-23/includes/phase.html" %}

        
        <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4">
            <ol class="govuk-breadcrumbs__list govuk-body-s">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/dec-23">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/dec-23/wellbeing-enrichment">Wellbeing and enrichment</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/dec-23/wellbeing-enrichment/nutrition">Nutrition</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/dec-23/wellbeing-enrichment/nutrition/weaning">Weaning</a>
                </li>
            </ol>
        </div>
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"></div>
      </div>

      <div class="govuk-grid-row govuk-!-padding-top-7 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-three-quarters">
            <span class="govuk-caption-l">Nutrition</span>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Weaning</h1>
            <p class="govuk-body-l">Good weaning practices can help babies have a confident, healthy relationship with food.</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter sticky mob-section">
        <input type="checkbox" name="menu-icon" id="menu-icon-chk" class="menu-btn" checked>
        <label class="menu-icon govuk-body-l" for="menu-icon-chk"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path fill="#1d70b8" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg><span class="sm-open">Open</span><span class="sm-close">Close</span>&nbsp;section menu</label>
        <nav class="dfe-vertical-nav">
            <h2 class="dfe-vertical-nav--section-header">Nutrition</h2>
            <ul class="dfe-vertical-nav__section">

            <!--<li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link" href="/dec-23/wellbeing-enrichment/nutrition">Overview</a>
            </li>-->

            <li class="dfe-vertical-nav__section-item">
                <a class="dfe-vertical-nav__link" href="/dec-23/wellbeing-enrichment/nutrition">Setting good habits</a>
            </li>

            <li class="dfe-vertical-nav__section-item  dfe-vertical-nav__section-item--current">
                <a class="dfe-vertical-nav__link" href="/dec-23/wellbeing-enrichment/nutrition/weaning">Weaning</a>
                </li>

            <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link" href="/dec-23/wellbeing-enrichment/nutrition/healthy-plate">What is a healthy plate?</a>
            </li>

            <li class="dfe-vertical-nav__section-item ">
            <a class="dfe-vertical-nav__link" href="#">Planning menus</a>
            </li>

            <li class="dfe-vertical-nav__section-item ">
            <a class="dfe-vertical-nav__link" href="#">Cost effective healthy food</a>
            </li>

            <li class="dfe-vertical-nav__section-item ">
            <a class="dfe-vertical-nav__link" href="#">Food activities with children</a>
            </li>
            </ul>
        </nav>
    </div>
    <div class="govuk-grid-column-three-quarters">

        <div class="content-with-side-menu">
            <p>Weaning is a gradual process of moving a baby from milk to solid foods. This takes place from 6 months, when government guidance says that milk alone is no longer enough to meet a baby’s nutritional needs. This is sometimes called complementary feeding as the baby will still need milk or infant formula milk.</p>
            
            <p>Weaning starts only once a baby can stay in a sitting position. They should be able to:</p>
            <ul>
                <li>support their own head</li>
                <li>use their hands, eyes and mouth,</li>
                <li>swallow their food</li>
            </ul>
            <p>Weaning helps a baby learn new skills such as chewing and biting and introduces new textures to them.</p>
            <p>You should reach agreement with parents or carers about when and how to start weaning.</p>

            <h2>First foods to introduce</h2>

            <p>Baby’s first food could be a simple vegetable or fruit puree. This can help a baby get used to new tastes and textures before going on to develop an interest in solisd foods. At the same time, they are also getting used to moving foods around their mouths and swallowing them. </p>
            <p>Once babies are comfortable with puree, feed them the same type of food with added texture. This could be mashed fruit or vegetables, like bananas or avocado. Its a good idea to offer savoury as well as sweet foods, so babies get used to a range of tastes.</p>

            <div class="dfe-cust-image-box dfe-light-bg govuk-!-margin-bottom-6">
                <div class="dfe-cust-image-box-inner ib-left-pane"><span class="govuk-body-l">Encourage babies to feed themselves with finger foods, such as a soft, cooked carrot stick or a piece of avocado. This can help them develop hand-eye coordination and motor skills.</span></div>
                <div class="dfe-cust-image-box-inner ib-right-pane" style="background-image: url(/public/images/weaning.jpg)"></div>
            </div>


            <p><a href="/dec-23/wellbeing-enrichment/food-safety#food-safety-advice-for-children-age-5-and-under">Learn more about Food Safety, including Food and Drinks to avoid for children aged 5 and under</a></p>

            <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-top-9">
                <div class="gem-c-attachment__thumbnail">
                    <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="javascript:void(0)"><img alt="" class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--custom" src="/public/images/pdf-weaning-roadmap.png"></a>
                </div>
                <div class="gem-c-attachment__details">
                    <h2 class="gem-c-attachment__title">
                    <span class="govuk-caption-m">PDF Download</span>
                    <a class="govuk-link gem-c-attachment__link" target="_self" href="javascript:void(0)">Weaning roadmap</a>
                    </h2>
                    <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>, <span class="gem-c-attachment__attribute">605 KB</span>, <span class="gem-c-attachment__attribute">1 page</span></p>
                </div>
            </section>

            <h2>The importance of different textures</h2> 

            <p>Introducing different textures to a child's diet when weaning is essential. It helps them learn to chew and swallow properly and encourages mouth and muscle development. It also helps them to get used to different textures, which means they will be less likely to become fussy eaters.</p>

            <p>Children who are given a variety of textures from an early age recognise a bigger range of flavours. They are more likely to accept a bigger selection of food textures as they grow up and are less likely to be upset by textures or develop sensory issues with food.</p>  

            <p>Different textures can also improve the way nutrients are absorbed, helping a child’s gut to function well.</p>

            <h2>How to introduce different textures</h2>

            <p>To introduce different food textures to a child, gradually make purees thicker and add lumpy or mashed foods. Foods such as soft cheeses, porridge oats and cooked potato or sweet potato can be introduced for thicker, smoother textures which can help develop muscles in the mouth.</p> 

            <p>You can also try finger foods which are easy to grab and hold, such as slices of cucumber or melon. These can encourage a baby's hand-eye coordination, as well as introducing new textures.</p>   

            <p>Try using food as a sensory activity. Let babies touch food with their hands and play with textures, like portions of cooked spaghetti.</p>  

            <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-top-9">
                <div class="gem-c-attachment__thumbnail">
                    <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="javascript:void(0)"><img alt="" class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--custom" src="/public/images/pdf-gagging-choking.png"></a>
                </div>
                <div class="gem-c-attachment__details">
                    <h2 class="gem-c-attachment__title">
                    <span class="govuk-caption-m">PDF Download</span>
                    <a class="govuk-link gem-c-attachment__link" target="_self" href="javascript:void(0)">Gagging vs choking</a>
                    </h2>
                    <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>, <span class="gem-c-attachment__attribute">605 KB</span>, <span class="gem-c-attachment__attribute">1 page</span></p>
                </div>
            </section>
            

            <h2>Cutting food safely when weaning</h2> 

            <p>When cutting food for weaning, make sure the size is manageable to avoid choking.</p>  

            <p>Cut food into small, bite-sized pieces that can easily fit into a baby's mouth.  Cut large fruits like melon and firm fruits like apple into slices instead of small chunks. Food should be firm enough to grasp, so it won't get stuck in a baby’s throat. Finger-shaped food (like soft, well-cooked vegetables or fruits that are easy to hold) is ideal for babies.</p>  

            <p>Foods that are a good choice for weaning include:</p>
            <ul>
                <li>apple slices</li>
                <li>cucumber sticks</li>
                <li>carrot sticks</li>
                <li>soft cheese</li>
            </ul>

            <p>Cut small fruits lengthways and then half again (quarters).  These fruits include:</p>
            <ul>
                <li>grapes</li>
                <li>raspberries</li>
                <li>strawberries</li>
                <li>cherry tomatoes</li>
            </ul>
            
            <h3>Avoid foods like popcorn or whole nuts, which are all choking hazards.</h3> 

            <p>Always supervise babies closely when they are eating.</p>

            <!--<p>[Link to How to cut food for babies graphic]</p>-->

 
            <h2>Key takeaways</h2>
            <ul>
                <li>Building healthy eating habits for children starts with weaning.</li>
                <li>Introducing a balance of nutrients and a variety of tastes and textures right from the start will mean that children will have all the essential nutrients for their growth and development.</li>
                <li>Good early eating habits will also ensure good habits later in life and help to reduce health inequalities.</li>
            </ul>


            {% include "dec-23/includes/citation.html" %}
            {% include "dec-23/includes/back-to-top.html" %}
            {% include "dec-23/includes/print-this-page.html" %}
            
        </div>

        
    </div>
</div>
{% include "dec-23/includes/page-ctas.html" %}
{% include "dec-23/includes/training-cta.html" %}
{% endblock %}


{% block footer %}

{% include "dec-23/includes/footer.html" %}
{% endblock %}
