{% extends "layouts/main.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Help for early years providers : Home
{% endblock %}

{% block header %}
{% include "dec-23/includes/header-home.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "dec-23/includes/phase.html" %}

        
            <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4 govuk-breadcrumbs--collapse-on-mobile">
                <ol class="govuk-breadcrumbs__list govuk-body-s">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/wellbeing-enrichment">Health and wellbeing</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/wellbeing-enrichment/food-safety">Food safety</a>
                    </li>
                </ol>
            </div>
        
 
      <div class="govuk-grid-row govuk-!-padding-top-7 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Food safety</h1>
            <p class="govuk-body-l">Find out about food safety as part of the early years foundation stage (EYFS).</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>

    </div>
  </div>
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <div class="contents-on-page">
            <p id="contents-list-heading" class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Contents on this page:</p>
        <ul class="contents-list__list">
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#why-is-food-safety-so-important-for-young-children">Why is food safety so important for young children?</a></li>
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#what-it-says-in-the-eyfs-framework">What it says in the EYFS framework</a></li>
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#food-safety-advice-for-children-age-5-and-under">Food safety advice for children age 5 and under</a></li>
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#food-and-drinks-to-avoid">Food and drinks to avoid</a></li>
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#safe-weaning">Safe weaning</a></li>
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#how-to-prepare-infant-formula-bottles">How to prepare infant formula bottles</a></li>
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#allergies">Allergies</a></li>
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#hygiene">Hygiene</a></li>
          </ul>
        </div>

        
        
          
        
        
          <div class="gem-c-print-link print-button govuk-!-margin-top-7"><button class="govuk-link gem-c-print-link__button" onclick="window.print()" data-module="print-link" >Print this page</button></div>
        
        <div class="govuk-!-margin-top-4">
          <h2 id="why-is-food-safety-so-important-for-young-children">Why is food safety so important for young children?</h2>
        
        <p>The <a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">EYFS framework</a> requires providers to take all necessary steps to keep children safe and well – and you must be confident that those responsible for preparing and handling food in your setting are competent to do so.</p>
        
        <p>Tragically, a child dies in the UK every month from choking and hundreds more require hospital treatment.  It can happen quickly and it can happen to anyone.</p>
        
        <p>Babies and young children’s immune systems are not as strong and developed as adults’ which means they are more vulnerable to infections which can lead to food poisoning.  It is important to take extra care with hygiene and preparing food safely.</p>
        
        <h2 id="what-it-says-in-the-eyfs-framework">What it says in the EYFS framework</h2>
        
        <p>Staffing arrangements must meet the needs of all children and ensure their safety. You must ensure that children are adequately supervised, including whilst eating.</p>
        
        <p>Before a child is admitted to the setting, you must obtain information about any special dietary requirements, preferences and food allergies that the child has, and any special health requirements.</p>
        
        <p>There must be an area which is adequately equipped to provide healthy meals, snacks and drinks for children as necessary. There must be suitable facilities for the hygienic preparation of food for children, if necessary including suitable sterilisation equipment for babies’ food. You must be confident that those responsible for preparing and handling food are competent to do so. In group provision, all staff involved in preparing and handling food must receive training in food hygiene.</p>
        
        <p><a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">Statutory framework for the early years foundation stage</a>, pages 28 and 33.</p>
        
        <h2 id="food-safety-advice-for-children-age-5-and-under">Food safety advice for children age 5 and under</h2>
        
        <h3 id="how-to-reduce-the-risk-of-choking">How to reduce the risk of choking</h3>
        
        <p>Food preparation:</p>
        
        <ul>
          <li>remove any stones and pips from fruit before serving</li>
          <li>cut small round foods, like grapes, strawberries and cherry tomatoes, lengthways and into quarters</li>
          <li>cut large fruits like melon, and hard fruit or vegetables like raw apple and carrot into slices instead of small chunks</li>
          <li>do not offer raisins as a snack to children under 12 months – although these can be chopped up as part of a meal</li>
          <li>soften hard fruit and vegetables (such as carrot and apple) and remove the skins when first given to babies from around 6 months</li>
          <li>sausages should be avoided due to their high salt content, but if offered to children these should be cut into thin strips rather than chunks and remove the skins</li>
          <li>remove bones from meat or fish</li>
          <li>do not give whole nuts to children under five years old</li>
          <li>do not give whole seeds to children under five years old</li>
          <li>cut cheese into strips rather than chunks</li>
          <li>do not give popcorn as a snack</li>
          <li>do not give children marshmallows or jelly cubes from a packet either to eat or as part of messy play activities as they can get stuck in the throat</li>
          <li>do not give children hard sweets</li>
        </ul>
        
        <h3 id="supervision">Supervision</h3>
        
        <p>Infants and young children should be seated safely in a highchair or appropriately sized low chair while eating.  Infants and young children should never be left alone while they are eating, and staff should be familiar with paediatric first aid advice for children who are choking.</p>
        
        <p>The criteria for effective Paediatric First Aid (PFA) training can be found in the <a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">Statutory framework for the early years foundation stage</a>, Annex A.</p>
        
        <h3 id="useful-resources">Useful resources</h3>
        
        <ul>
          <li><a rel="external" href="https://foundationyears.org.uk/2021/09/food-safety-advice-on-choking-hazards-in-settings/">Early years choking hazards poster and table (foundationyears.org.uk)</a></li>
          <li><a rel="external" href="https://www.youtube.com/watch?v=wCjZLbejZm8">Early Start Nutrition - Preparing food safely for young children (video)</a></li>
          <li><a rel="external" href="https://www.rospa.com/rospaweb/docs/advice-services/home-safety/choking-hazards.pdf">Choking hazards in the home and how to avoid them (rospa.com)</a></li>
        </ul>
        
        <h2 id="food-and-drinks-to-avoid">Food and drinks to avoid</h2>
        
        <h3 id="drinks">Drinks</h3>
        
        <p>Provide only fresh tap water and plain milk for children to drink.  Fruit juice, smoothies, squash, fizzy drinks and flavoured milk, even when diluted, contain lots of sugar and can cause tooth decay. Diet or reduced-sugar drinks are not recommended for babies and toddlers either. For older children, these drinks can fill children up so they’re not hungry for healthier food.</p>
        
        <p>When offering dairy alternatives to cow’s milk:</p>
        
        <ul>
          <li>Unsweetened calcium-fortified, plant-based drinks (such as soya, oat and almond drinks) should be avoided before 12 months, however small amounts can be used in cooking. These drinks can be given from 12 months as part of a healthy balanced diet.</li>
          <li>Do not give children under 5 rice drinks, because of the level of arsenic they contain.</li>
        </ul>
        
        <h3 id="foods-to-avoid-before-around-6-months-of-age">Foods to avoid before around 6 months of age</h3>
        
        <p>Ideally, babies should be introduced to solid foods from around 6 months of age.  If parents or carers have decided to introduce solid foods to their child before 6 months of age, you will need to work closely with them to ensure a consistent and safe approach.</p>
        
        <p>It is important to remember that there are some foods which should not be given before 6 months of age:</p>
        
        <ul>
          <li>cow’s milk</li>
          <li>eggs</li>
          <li>foods containing wheat or gluten, including wheat, barley and rye (for example bread, pasta)</li>
          <li>nuts, peanuts and peanut products</li>
          <li>seeds</li>
          <li>fish and shellfish</li>
          <li>honey – avoid honey until 12 months old</li>
          <li>if a baby is less than 6 months old, sterilise water by boiling it first and then letting it cool right down - once a baby is 6 months old, this is no longer necessary</li>
        </ul>
        
        <h3 id="foods-to-avoid-up-to-12-months">Foods to avoid up to 12 months</h3>
        
        <ul>
          <li>honey for infants under 1 year, as it occasionally contains bacteria which can make them ill</li>
        </ul>
        
        <h3 id="foods-to-avoid-up-to-5-years">Foods to avoid up to 5 years</h3>
        
        <ul>
          <li>
        <strong>Nuts</strong>, especially peanuts, can cause severe allergic reactions in some children and all settings should have an allergy plan in place. Whole nuts, peanuts and seeds should not be given to children under 5 years old as they pose a choking risk.</li>
          <li>
        <strong>Raw eggs</strong>, or food containing partially cooked eggs, for example uncooked cake mixture and runny boiled eggs (unless they have the red lion stamp or you see the words “British Lion quality”).</li>
          <li>
        <strong>Foods high in salt</strong> such as: sausages, bacon, crackers, crisps, ready meals and takeaways.</li>
          <li>
        <strong>Sugar</strong> – both in sugary snacks and by not adding sugar to food.</li>
          <li>
        <strong>Foods high in saturated fat</strong> such as biscuits, crisps and cakes.</li>
          <li>
        <strong>Fresh pate</strong> (meat, fish or vegetable-based) to reduce the risk of food poisoning.</li>
          <li>
        <strong>Unpasteurised milk, milk drinks and cheese</strong>, mould-ripened cheeses and soft blue-veined cheese, to reduce the risk of food poisoning.  However, these cheeses can be used as part of a cooked recipe as listeria is killed by cooking.</li>
          <li>
        <strong>Shark, swordfish and marlin</strong> as the levels of mercury in these fish can affect a child’s developing nervous system.</li>
          <li>
        <strong>Raw shellfish</strong> to reduce the risk of food poisoning, and make sure any shellfish you use is thoroughly cooked.</li>
          <li>
        <strong>Raw jelly cubes</strong> – these are a choking hazard.</li>
        </ul>
        
        <h3 id="foods-to-serve-occasionally-from-6-months-to-4-years">Foods to serve occasionally from 6 months to 4 years</h3>
        
        <ul>
          <li>Although it is recommended to provide oily fish in early years settings at least once every 3 weeks, do not provide it more than twice a week, as it can contain low levels of pollutants.</li>
        </ul>
        
        <h2 id="useful-resources-1">Useful resources</h2>
        
        <ul>
          <li><a rel="external" href="https://www.nhs.uk/conditions/baby/weaning-and-feeding/foods-to-avoid-giving-babies-and-young-children/">Foods to avoid giving babies and young children - NHS (www.nhs.uk)</a></li>
          <li><a rel="external" href="https://www.nhs.uk/conditions/baby/weaning-and-feeding/what-to-feed-young-children/">What to feed young children - NHS (www.nhs.uk)</a></li>
          <li><a rel="external" href="https://www.nhs.uk/conditions/baby/weaning-and-feeding/baby-and-toddler-meal-ideas/">Baby and toddler meal ideas - NHS (www.nhs.uk)</a></li>
          <li><a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/658870/Early_years_menus_part_1_guidance.pdf">Example menus for early years settings in England - Part 1: Guidance</a></li>
          <li><a rel="external" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/658872/Early_years_menus_part_2_recipes.pdf">Example menus for early years settings in England - Part 2: Recipes</a></li>
        </ul>
        
        <h2 id="safe-weaning">Safe weaning</h2>
        
        <p>Progression from the introduction of first foods (at about 6 months), to a range of blended or mashed foods, and then to a wider range of chopped or minced foods should be a gradual process, based on each infants’ developmental readiness, rather than a staged process based on age alone.</p>
        
        <p><a rel="external" href="https://www.nhs.uk/start4life/weaning/">Start4Life</a> have lots of helpful information for parents regarding safe weaning, which you will also find it helpful to refer to.</p>
        
        <h2 id="how-to-prepare-infant-formula-bottles">How to prepare infant formula bottles</h2>
        
        <p>Good hygiene is very important when making up a formula feed.  Babies’ immune systems are not as strong as adults’ therefore all bottles, teats and feeding equipment need to be washed and sterilised before each feed.  The NHS has a helpful step by step guide on how to prepare infant formula.</p>
        
        <h2 id="useful-resources-2">Useful resources</h2>
        
        <ul>
          <li><a rel="external" href="https://www.nhs.uk/conditions/baby/weaning-and-feeding/babys-first-solid-foods/">Your baby’s first solid foods - NHS (www.nhs.uk)</a></li>
          <li><a rel="external" href="https://www.nhs.uk/conditions/baby/weaning-and-feeding/help-your-baby-enjoy-new-foods/">Help your baby enjoy new foods - NHS (www.nhs.uk)</a></li>
          <li><a rel="external" href="https://www.nhs.uk/conditions/baby/weaning-and-feeding/drinks-and-cups-for-babies-and-young-children/">Drinks and cups for babies and young children - NHS (www.nhs.uk)</a></li>
          <li><a rel="external" href="https://www.nhs.uk/conditions/baby/breastfeeding-and-bottle-feeding/bottle-feeding/making-up-baby-formula/">How to make up baby formula - NHS (www.nhs.uk)</a></li>
        </ul>
        
        <h2 id="allergies">Allergies</h2>
        
        <p>Early years settings and your food provider should work closely with families to support children with allergies or intolerances. As part of the <a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2">EYFS framework</a>, you are required to obtain information about children’s special dietary requirements – including food allergies and intolerances – before they attend, and record and act on the information provided about children’s dietary needs.</p>
        
        <p>There should be a protocol in place which is accessible to all staff, to ensure everyone is aware of individual children’s allergies and symptoms.</p>
        
        <p>Understanding which allergens are present in every meal and snack you provide is an important step in providing food which is safe for children with food allergies and intolerances. Since 2014, all food businesses, including early years settings, have been required by law to give details about the allergens in the food they provide.</p>
        
        <h2 id="useful-resources-3">Useful resources</h2>
        
        <ul>
          <li>
            <p><a rel="external" href="https://www.nhs.uk/conditions/baby/weaning-and-feeding/food-allergies-in-babies-and-young-children/">Food allergies in babies and young children - NHS (www.nhs.uk)</a></p>
          </li>
          <li>
            <p><a rel="external" href="https://www.nhs.uk/conditions/food-allergy/">Food allergy - NHS</a></p>
          </li>
          <li>
            <p><a rel="external" href="https://www.allergyuk.org/">Allergy UK National Charity Free Allergy Support &amp; Resources</a></p>
          </li>
          <li>
            <p><a rel="external" href="https://www.food.gov.uk/business-guidance/allergen-guidance-for-food-businesses">Allergen guidance for food businesses - Food Standards Agency</a></p>
          </li>
        </ul>
        
        <h2 id="hygiene">Hygiene</h2>
        
        <p>Food should be stored, prepared and presented in a safe and hygienic environment. This is especially important when providing food for young children, as they may have a low resistance to food poisoning. It is also important that children are taught basic hygiene themselves, such as not eating food that has fallen on the floor, and washing their hands with soap and warm water before eating meals or snacks and after going to the toilet or handling animals.</p>
        
        <p>Ensure food is cooked until steaming hot to kill harmful bacteria, and is then cooled sufficiently before giving it to infants and young children.</p>
        
        <p>Wash all surfaces for preparing or eating food, especially chopping boards, with hot soapy water (and keep pets away from them). Make sure all bowls and spoons are washed with hot soapy water. Tea towels, kitchen cloths or sponges can harbour lots of germs, so wash them regularly.</p>
        
        <p>Further information on food hygiene:</p>
        
        <ul>
          <li><a rel="external" href="https://www.nhs.uk/conditions/baby/weaning-and-feeding/childrens-food-safety-and-hygiene/">Children’s food: safety and hygiene - NHS (www.nhs.uk)</a></li>
          <li><a rel="external" href="https://www.food.gov.uk/business-guidance/safer-food-better-business-sfbb">Safer food, better business (SFBB) Food Standards Agency</a></li>
          <li><a rel="external" href="https://www.food.gov.uk/business-guidance/safer-food-better-business-for-childminders">Safer food, better business for childminders Food Standards Agency</a></li>
        </ul>
        {% include "dec-23/includes/citation.html" %}
        {% include "dec-23/includes/back-to-top.html" %}
        {% include "dec-23/includes/print-this-page.html" %}
    </div>
</div>
</div>

{% include "dec-23/includes/page-ctas.html" %}
{% include "dec-23/includes/training-cta.html" %}
{% endblock %}


{% block footer %}

{% include "dec-23/includes/footer.html" %}
{% endblock %}
