{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Help for early years providers : Home
{% endblock %}

{% block header %}
{% include "dec-23/includes/header-wellbeing.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "dec-23/includes/phase.html" %}

        
            <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/wellbeing-enrichment">Wellbeing and enrichment</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/wellbeing-enrichment/oral-health">Oral health</a>
                    </li>
                </ol>
            </div>
        
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"></div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-7 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Oral health</h1>
            <p class="govuk-body-l">Find out about promoting oral health as part of the early years foundation stage (EYFS).</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h3 id="contents-list-heading" class="govuk-body govuk-!-margin-bottom-1">
            Contents
        </h3>
          <ul class="contents-list__list">
          <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#why-oral-health-is-in-the-EYFS-framework">Why oral health is in the EYFS framework</a></li>
          <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#tooth-decay">Tooth decay</a></li>
          <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#looking-after-childrens-oral-health">Looking after children’s oral health</a></li>
          <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#how-to-promote-good-oral-health-in-your-setting">How to promote good oral health in your setting</a></li>
          <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#case-study---tinsley-meadows-primary-academy">Case study - Tinsley Meadows Primary Academy</a></li>
          <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#promoting-good-oral-health-at-home">Promoting good oral health at home</a></li>
          <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#useful-resources">Useful resources</a></li>
        </ul>
        
        
          <div class="gem-c-print-link print-button govuk-!-margin-top-7"><button class="govuk-link gem-c-print-link__button" onclick="window.print()" data-module="print-link" >Print this page</button></div>
        
        <div class="govuk-!-margin-top-4">
          
        <h2 id="why-oral-health-is-in-the-eyfs-framework">Why oral health is in the EYFS framework</h2>
        
        <p>The EYFS framework states that early years providers must promote good oral health of children who attend their setting.</p>
        
        <p>Oral health is important, even with baby teeth. This is because children’s baby teeth:</p>
        
        <ul>
          <li>help them to bite and chew</li>
          <li>support speech and language development</li>
          <li>help them feel confident when they smile</li>
          <li>make space for and help to guide adult teeth</li>
        </ul>
        
        <p>Good oral health also keeps children free from toothache, infection and swollen gums.</p>
        
        <h2 id="tooth-decay">Tooth decay</h2>
        
        <p>Children need to form good oral health habits from an early age to help avoid tooth decay. Tooth decay happens when sugars from food and drinks interact with bacteria in tooth plaque. This results in acid production, causing holes in teeth known as cavities.</p>
        
        <p>If children have tooth decay, they may have yellow, brown or black marks on their teeth. They may also complain about their teeth hurting, particularly when eating or drinking.</p>
        
        <p><img src="https://help-for-early-years-providers.education.gov.uk/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2dDIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--319e62d541058ffdd346a67a00df4c83f031aff6/iStock-889380722.jpg" alt="An image of a child's decayed teeth. The teeth have visible black, yellow and brown patches." title="Child with tooth decay" class="full-width-img"></p>
        
        <p>Tooth decay is largely preventable, but it’s still a serious problem among young children. The Office for Health Improvement and Disparities oral health survey of 5 year old children 2022 and Public Health England oral health survey of 3 year old children 2020 found that:</p>
        
        <ul>
          <li>
            <p>nearly a quarter of 5 year olds in England have tooth decay, affecting 3 to 4 teeth on average</p>
          </li>
          <li>
            <p>children from more deprived backgrounds are more likely to have tooth decay</p>
          </li>
          <li>
            <p>11% of 3 year olds in England have visible tooth decay, affecting 3 teeth on average</p>
          </li>
        </ul>
        
        <p>You can find links to the surveys in the useful resources section at the end of this article.</p>
        
        <p>Having decayed teeth removed is also the most common reason for surgery under a general anaesthetic for children aged 6 to 10.</p>
        
        <h2 id="looking-after-childrens-oral-health">Looking after children’s oral health</h2>
        
        <p>There are several key steps practitioners, parents and carers can take to promote good oral health in children.</p>
        
        <h3 id="cutting-down-on-free-sugars">Cutting down on free sugars</h3>
        
        <p>You should limit the amount of free sugars children eat or drink in your setting, as well as how often they consume them. This can help to avoid tooth decay.</p>
        
        <p>Free sugars include all sugar added to food and drinks by the manufacturer, cook or consumer. They are found in foods like:</p>
        
        <ul>
          <li>cakes, biscuits and chocolates</li>
          <li>processed foods - like some jarred sauces, jams and breakfast cereals</li>
          <li>some flavoured yoghurts</li>
        </ul>
        
        <p>They are also found in natural products like:</p>
        
        <ul>
          <li>honey and syrups</li>
          <li>fruit juices and purees</li>
          <li>smoothies</li>
        </ul>
        
        <p>Free sugars are not found in:</p>
        
        <ul>
          <li>whole fruit and vegetables</li>
          <li>plain, unflavoured milk and yoghurt</li>
          <li>water</li>
        </ul>
        
        <p>Water and milk are the only safe drinks to give children in regard to their oral health. Fruit juices and smoothies should not form part of a young child’s daily diet.</p>
        
        <p>As well as limiting the amount of free sugars children eat or drink, you should also make sure that they only have food or drinks that contain sugar at mealtimes. This is because, the more often their teeth come into contact with sugar, the more likely they will be to get tooth decay. Children should avoid food and drinks containing free sugars before bedtime and overnight.</p>
        
        <h3 id="drinking-bottles-and-cups">Drinking bottles and cups</h3>
        
        <p>What children drink from can impact their oral health.</p>
        
        <p>You should only give babies bottles of breast milk, formula milk, or boiled water that has cooled down.</p>
        
        <p>From 6 months old, you can offer babies drinks in open-top cups. These are cups with no lids, which spill if knocked over. These cups can help children develop their sipping skills. This strengthens their face muscles, which helps them to bite, chew and talk.</p>
        
        <p>When introducing open-top cups, start with smaller cups or those with handles. These are easier for babies to grip. Offer a small amount of water at first, and gradually increase this over time.</p>
        
        <p>You may need to show babies how to use the cup and help them to hold it at first. Some babies may need to use a sipping cup or beaker with a spout before they can use an open-top cup. If this is the case, you should make sure that the spout does not have a valve, that drinks can freely flow through it, and that babies do not need to suck.</p>
        
        <p>From 12 months old onwards, you should encourage children to have all drinks in open-top cups. From this point, avoid using any bottles or cups that need children to suck, like those with soft teats or valves.</p>
        
        <p>You can find an NHS video about how and when to move babies from bottles to cups in the useful resources section at the end of this article.</p>
        
        <h3 id="brushing-teeth">Brushing teeth</h3>
        
        <p>As soon as a child’s teeth start to come through, they are ready for tooth brushing to start.</p>
        
        <p>For effective tooth brushing:</p>
        
        <ul>
          <li>use a fluoride toothpaste that contains at least 1000 parts per million (ppm) of fluoride - you can find this information  on the packaging</li>
          <li>use a smear of toothpaste for children under 3, and a pea sized amount for those aged 3 to 6</li>
          <li>brush in circles for around 2 minutes, making sure to cover the whole of each tooth</li>
          <li>brush twice a day, including once just before bed - this allows the fluoride to keep working while children sleep</li>
          <li>children should spit, not rinse, after brushing - this avoids washing away the fluoride</li>
          <li>adults should help children to brush their teeth until they are 7 years old to make sure they are brushing properly</li>
        </ul>
        
        <p>The images below show what a smear and a pea sized amount of toothpaste look like on a typical child’s toothbrush.</p>
        
        <p><img src="https://help-for-early-years-providers.education.gov.uk/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ2tDIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--f5ff72ad6448a2d43c94c9b3e405ff958a951231/smear-toothpaste-v2.jpg" alt="A child's toothbrush with a 2cm brush head. There is a thin smear of toothpaste extending about half the length of the brush head." title="Child's toothbrush with smear of toothpaste" class="full-width-img"></p>
        
        <p>Use a smear of toothpaste for children under 3.</p>
        
        <p><img src="https://help-for-early-years-providers.education.gov.uk/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBZ29DIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--98dcd86553e6ad53ae12a3e785c26e3dec917744/blob-toothpaste-v2.jpg" alt="A graphic of a child's toothbrush with a 2cm brush head. There is a pea-sized blob of toothpaste extending about half the length of the brush head." title="Child's toothbrush with blob of toothpaste" class="full-width-img"></p>
        
        <p>Use a pea sized blob of toothpaste for children aged 3 to 6.</p>
        
        <h2 id="how-to-promote-good-oral-health-in-your-setting">How to promote good oral health in your setting</h2>
        
        <p>You can decide how you promote oral health based on what works best in your setting. Ideally, you should link oral health to other key topics, like self-care, healthy eating, and physical development.</p>
        
        <p>Being playful with children can help to promote good oral health. There are a number of activities you can use to teach them about tooth brushing and care.</p>
        
        <h4 id="dentist-role-play">Dentist role play</h4>
        
        <p>Try setting up a dentist role play in your setting. This familiarises children with the dentist’s environment, equipment and processes.</p>
        
        <h4 id="practise-tooth-brushing-on-dolls-and-toys">Practise tooth brushing on dolls and toys</h4>
        
        <p>You can show children how to do this yourself first to model effective tooth brushing.</p>
        
        <h4 id="brush-model-teeth">Brush model teeth</h4>
        
        <p>Use a set of model teeth or a laminated picture, and add playdough, marker pen or tissue paper to represent tooth plaque. Encourage the children to use a toothbrush to remove the ‘plaque’.</p>
        
        <h3 id="stories-and-discussion">Stories and discussion</h3>
        
        <p>You can read stories with children about teeth and smiles. These can cover important topics like visiting the dentist and brushing teeth. You should also discuss the foods and drinks that do and do not help to grow healthy, strong teeth with children.</p>
        
        <p>Talking tubs are a good way to promote conversations with children. Place items related to oral health in a tub, then get children to explore and talk about them with you.</p>
        
        <p>You can add things like:</p>
        
        <ul>
          <li>toothbrushes</li>
          <li>pictures of dentists</li>
          <li>false or model teeth</li>
          <li>a selection of foods and drinks</li>
        </ul>
        
        <h3 id="visits-with-dentists">Visits with dentists</h3>
        
        <p>You could contact your local dental surgery and ask them if it is possible to show the children around. This will help familiarise the children with the environment and equipment dentists use. You could also invite a member of the dental team to your setting to talk about their job and the importance of good oral health.</p>
        
        <h3 id="supervised-tooth-brushing-programmes">Supervised tooth brushing programmes</h3>
        
        <p>Supervised tooth brushing may be suitable in your setting. These programmes have been found to prevent tooth decay by teaching children how to brush their teeth and encourage tooth brushing routines at home. Children also benefit from brushing their teeth with fluoride toothpaste once a day while at their early years setting. This is especially important for those children who may not regularly brush their teeth at home.</p>
        
        <p>There are different schemes that support supervised tooth brushing. Speak to your local authority  to see what may be on offer in your local area.</p>
        
        <p>You can find useful resources to help you with supervised tooth brushing at the end of this article.</p>
        
        <h2 id="case-study---tinsley-meadows-primary-academy">Case study - Tinsley Meadows Primary Academy</h2>
        
        <p>David Yates, a teacher at Tinsley Meadows Primary Academy in Sheffield, set up a supervised tooth brushing club for his 3 to 4 year olds.</p>
        
        <p>David had noticed how tooth decay and toothache were impacting on his Foundation Stage 1 class. They were affecting both the children’s speech development and their wider learning.</p>
        
        <p>He wanted to find a way to prevent tooth decay that was:</p>
        
        <ul>
          <li>easy to build in to the daily class routine</li>
          <li>in line with EYFS requirements</li>
          <li>fun for the children</li>
        </ul>
        
        <p>As a first step, David contacted the school’s local authority. They then put him in touch with their oral health promotion team, who advised him on different options he could try. After this meeting, David decided to get permission from the school’s senior leadership team to set up a supervised tooth brushing club.</p>
        
        <p>A member of the oral health promotion team helped David set up the club and provided:</p>
        
        <ul>
          <li>training and a protocol for practitioners to follow</li>
          <li>toothbrushes, toothpaste and toothbrush racks</li>
          <li>a workshop for parents and carers to explain what the club involved and answer their questions about oral health</li>
          <li>a follow up visit one month later to review how the club was going</li>
          <li>ongoing support and supplies to keep the club running</li>
        </ul>
        
        <p>The club has been running for over 5 years, although it had to be paused during the Covid-19 pandemic. More than 60 children now attend. The school use the club to support other topics about healthy diet, as well as role play activities and stories about visiting the dentist.</p>
        
        <p>David has seen lots of benefits for children who attend the club, including:</p>
        
        <ul>
          <li>enjoying brushing their teeth more</li>
          <li>learning from watching each other</li>
          <li>positive feedback from parents, who say the children are more co-operative with tooth brushing at home</li>
        </ul>
        
        <div role="note" aria-label="Information" class="application-notice info-notice">
        <p>“At first I did think… we are going to do tooth brushing now and we have 60 children. What if it is chaos and they all brush each other’s hair, or they all share? But they are really good at it. I am proud of them. The children seem to enjoy and engage with it. It’s a whole group experience so it’s something that we do as a shared thing. For other practitioners thinking about trying supervised tooth brushing, I would say do it! Find a local expert, get some initial training, and then give it a go.” <br> <br> - David Yates, teacher at Tinsley Meadows Primary Academy</p>
        </div>
        
        <h2 id="promoting-good-oral-health-at-home">Promoting good oral health at home</h2>
        
        <p>There are a number of ways you can help parents and carers promote good oral health at home. However, you should not offer individual or specific advice. Parents and carers must speak to healthcare professionals, like a dentist or member of the dental team, for medical advice.</p>
        
        <h3 id="speaking-to-parents-and-carers">Speaking to parents and carers</h3>
        
        <p>Children should go to the dentist when they get their first tooth or from 1 year old, whichever comes first.</p>
        
        <p>NHS dental services are free for all children under 18.</p>
        
        <p>In introductory meetings with parents and carers, you can:</p>
        
        <ul>
          <li>share this information with them</li>
          <li>ask if they have taken their child to the dentist</li>
          <li>encourage them to do so if their child has their first tooth or is over 1 year old</li>
        </ul>
        
        <h3 id="sharing-oral-health-resources">Sharing oral health resources</h3>
        
        <p>Oral health posters and leaflets can build other practitioners’, parents’ and carers’ knowledge on oral health.</p>
        
        <p>You can share these by:</p>
        
        <ul>
          <li>displaying them in the entryways to your setting</li>
          <li>handing them out at the beginning or end of a session</li>
          <li>placing them in staff rooms and communal areas</li>
        </ul>
        
        <p>See the useful resources at the end of this article for a range of online resources that you can share.</p>
        
        <h3 id="helping-families-get-support-for-childrens-oral-health">Helping families get support for children’s oral health</h3>
        
        <p>If a family has concerns about their child’s oral health, signpost them to their dentist for further assessment and support. Local  NHS dentists can be found on the  <a rel="external" href="https://www.nhs.uk/service-search/find-a-dentist">NHS  website</a>.</p>
        
        <p>If the child needs urgent dental care, and their dentist does not offer emergency appointments, parents and carers can contact <a rel="external" href="https://www.nhs.uk/nhs-services/urgent-and-emergency-care-services/when-to-use-111/">NHS 111</a>.</p>
        
        <h2 id="useful-resources">Useful resources</h2>
        
        <p>This <a href="https://www.gov.uk/government/publications/improving-oral-health-supervised-tooth-brushing-programme-toolkit">toolkit by Public Health England</a> gives more information on how to set up supervised tooth brushing programmes.</p>
        
        <p>This <a rel="external" href="https://www.e-lfh.org.uk/programmes/childrens-oral-health/">Children’s Oral Health healthcare e-learning</a> is aimed at parents, early years healthcare workers, teachers, nurses, GPs and the public.</p>
        
        <p>The British Society of Paediatric Dentistry have created a series of <a rel="external" href="https://www.bspd.co.uk/Kidsvids">oral health videos for children</a>, in partnership with Dr Ranj, Hey Duggee and CBeebies.</p>
        
        <p>This <a rel="external" href="https://www.youtube.com/watch?v=TxFhhP53r1U">NHS video on baby bottles and cups</a> explains when to move babies from bottles to cups and why.</p>
        
        <p>This <a rel="external" href="https://www.youtube.com/watch?v=QwcYgTQMPjY">supervised tooth brushing video</a> from Early Start Nutrition shows a session in action.</p>
        
        <p>Use this tool to <a href="https://www.gov.uk/find-local-council">find your local authority</a>. Your local authority may be able to offer support to introduce supervised tooth brushing in your setting.</p>
        
        <p>The <a rel="external" href="https://www.nhs.uk/conditions/baby/babys-development/teething/looking-after-your-babys-teeth/">looking after your baby’s teeth NHS page</a> explains how to brush and care for babies’ and young children’s teeth.</p>
        
        <p>This BBC article explains key strategies for <a rel="external" href="https://www.bbc.co.uk/tiny-happy-people/teddy-teeth-cleaning/zksybqt">showing a toddler how to brush their teeth</a>.</p>
        
        <p>This <a rel="external" href="https://www.henry.org.uk/videos/healthyteeth">healthy teeth video from HENRY</a> looks at what we can do to help children grow up with healthy teeth.</p>
        
        <p>Dr Milad Shadrooh, known as The Singing Dentist, shares <a rel="external" href="https://www.bbc.co.uk/tiny-happy-people/dentist-q-a/z6jbydm">advice and answers to common questions about taking care of children’s teeth</a>.</p>
        
        <p>PACEY’s <a rel="external" href="https://www.pacey.org.uk/working-in-childcare/spotlight-on/oral-health/">oral health advice</a> includes fact sheets for parents, and their  <a rel="external" href="https://www.pacey.org.uk/working-in-childcare/spotlight-on/nutrition/">nutrition spotlight</a> encourages healthy eating habits.</p>
        
        <p>The Office for Health Improvement and Disparities <a href="https://www.gov.uk/government/statistics/oral-health-survey-of-5-year-old-children-2022">oral health survey of 5 year old children 2022</a> and Public Health England’s <a href="https://www.gov.uk/government/statistics/oral-health-survey-of-3-year-old-children-2020">oral health survey of 3 year old children 2020</a> include statistics about oral health in the early years.</p>
        
    </div>
</div>

{% include "dec-23/includes/page-ctas.html" %}
{% include "dec-23/includes/training-cta.html" %}
{% endblock %}


{% block footer %}

{% include "dec-23/includes/footer.html" %}
{% endblock %}
