{% extends "layouts/main.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Help for early years providers : Home
{% endblock %}

{% block header %}
{% include "dec-23/includes/header-home.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "dec-23/includes/phase.html" %}

        
            <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4">
                <ol class="govuk-breadcrumbs__list govuk-body-s">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/areas-of-learning">Areas of learning</a>
                    </li>
                </ol>
            </div>
        
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"></div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-7 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Areas of learning</h1>
            <p class="govuk-body-l">Find out more about each area of learning, including activities you can do and guidance on meeting the needs of all children in your setting.</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="/dec-23/areas-of-learning/communication-and-language">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/communication-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Communication and language</h3>
                <p>Access videos, activities and advice to support children in this area of learning.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/physical-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Physical development</h3>
                <p>Access videos, activities and advice to support children in this area of learning.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/personal-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Personal, social and emotional development</h3>
                <p>Access videos, activities and advice to support children in this area of learning.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/literacy-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Literacy</h3>
                <p>Access videos, activities and advice to support children in this area of learning. </p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/mathematics-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Mathematics</h3>
                <p>Access videos, activities and advice to support children in this area of learning.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/understanding-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Understanding the world</h3>
                <p>Access videos, activities and advice to support children in this area of learning.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/expressive-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Expressive arts and design</h3>
                <p>Access videos, activities and advice to support children in this area of learning.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    
</div>
{% include "dec-23/includes/section-ctas.html" %}



{% endblock %}


{% block footer %}
{% include "dec-23/includes/other-resources.html" %}
{% include "dec-23/includes/footer.html" %}
{% endblock %}
