{% extends "layouts/main.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Help for early years providers : Home
{% endblock %}

{% block header %}
{% include "dec-23/includes/header-home.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "dec-23/includes/phase.html" %}

        
            <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4">
                <ol class="govuk-breadcrumbs__list govuk-body-s">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/support-for-practitioners">Support for practitioners</a>
                    </li>
                </ol>
            </div>
        
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"></div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-7 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Support for practitioners</h1>
            <p class="govuk-body-l">Access resources and advice to help improve practice in the early years.</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/reducing-paperwork-min.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Reducing paperwork</h3>
                <p>Cutting down on paperwork to spend more time with children.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/iStock-2009820852.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Working in partnership with parents and carers</h3>
                <p>Ideas for partnering with parents and carers.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/curriculum-planning-min.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Curriculum planning</h3>
                <p>How curriculum planning helps you give the children a better experience, covering all early years foundation stage (EYFS) areas of learning.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/wellbeing-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Early years practitioner wellbeing support</h3>
                <p>Supporting mental health and wellbeing of you and your team. </p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/training-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Training, qualifications, support and guidance</h3>
                <p>Access free workforce training, qualifications, support and guidance for practitioners.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/integrated-reviews-min.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Integrated reviews</h3>
                <p>How to carry out integrated health and education reviews for children aged 2 to 3.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/eyfs-changes-2024-min.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Changes to the EYFS framework: January 2024</h3>
                <p>Find out why the changes have been made and what you need to do in your setting.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/needs-of-all-children-min.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Meeting the needs of all children</h3>
                <p>Getting the best outcomes for children with special educational needs and disabilities.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
                <div class="hf-card-container">
                    <img class="full-width-img" width="200" alt="" title="" src="/public/images/eal-thumb.jpg">
                    <div class="hf-card-details">
                    <h3 class="govuk-heading-m">English as an additional language (EAL)</h3>
                    <p>Learn how to support multi-lingual children in your setting.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="/dec-23/support-for-practitioners/send-assessment">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/send-assessment.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">SEND assessment resources</h3>
                <p>Resources and guidance for carrying out SEND assessments in your setting.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>

{% include "dec-23/includes/section-ctas.html" %}



{% endblock %}


{% block footer %}
{% include "dec-23/includes/other-resources.html" %}
{% include "dec-23/includes/footer.html" %}
{% endblock %}
