{% extends "layout-dfe-updated.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Help for early years providers : Home
{% endblock %}

{% block header %}
{% include "dec-23/includes/header-support.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "dec-23/includes/phase.html" %}

        
            <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4">
                <ol class="govuk-breadcrumbs__list govuk-body-s">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/support-for-practitioners">Support for practitioners</a>
                    </li>
                </ol>
            </div>
        
      <div class="govuk-grid-row ">
        <div class="govuk-grid-column-three-quarters"></div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-7 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Support for practitioners</h1>
            <p class="govuk-body-l">Discover helpful resources and articles to help support you within your career and your setting.</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/paperwork-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Reducing paperwork</h3>
                <p>Find out about reducing the amount of paperwork you do, including what Ofsted will look for during inspections.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/parents-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Working in partnership with parents and carers</h3>
                <p>Find out why working with parents is so important and how to do this well.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/curriculum-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Curriculum planning</h3>
                <p>Find out more about how curriculum planning helps give the children a better experience.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/wellbeing-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Early years practitioner wellbeing support</h3>
                <p>Get ideas on how to support the mental health and wellbeing of yourself and other practitioners. </p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/training-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Training, qualifications, support and guidance</h3>
                <p>Access free workforce training, qualifications, support and guidance.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/integrated-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Integrated reviews</h3>
                <p>Get advice on how to carry out integrated health and education reviews for children aged 2 to 3.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/send-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">SEND resources</h3>
                <p>Guidance to help you support SEND in your practice.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/changes-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">EYFS Changes 2024</h3>
                <p>Information about the changes to the EYFS in 2024.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/meeting-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">Meeting the needs of all children</h3>
                <p>Find out more about the importance of supporting every child to achieve their best outcomes.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="hf-card">
            <a href="#">
            <div class="hf-card-container">
                <img class="full-width-img" width="200" alt="" title="" src="/public/images/eal-thumb.jpg">
                <div class="hf-card-details">
                <h3 class="govuk-heading-m">English as an additional language (EAL)</h3>
                <p>Learn how to support children who have an additional language.</p>
                </div>
            </div>
            </a>
        </div>
    </div>
</div>

{% include "dec-23/includes/section-ctas.html" %}



{% endblock %}


{% block footer %}
{% include "dec-23/includes/other-resources.html" %}
{% include "dec-23/includes/footer.html" %}
{% endblock %}
