{% extends "layouts/main.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
Help for early years providers : Home
{% endblock %}

{% block header %}
{% include "dec-23/includes/header-home.html" %}
<div class="dfe-content-page--header">
    <div class="dfe-width-container ">
        {% include "dec-23/includes/phase.html" %}

        
            <div class="govuk-breadcrumbs govuk-!-margin-top-0 govuk-!-padding-top-4 govuk-breadcrumbs--collapse-on-mobile">
                <ol class="govuk-breadcrumbs__list govuk-body-s">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23">Home</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/support-for-practitioners">Support for practitioners</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="/dec-23/support-for-practitioners/send-assessment">SEND assessment resources</a>
                    </li>
                </ol>
            </div>
        
 
      <div class="govuk-grid-row govuk-!-padding-top-7 govuk-!-padding-bottom-0">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">SEND assessment resources</h1>
            <p class="govuk-body-l">By Dingley’s Promise</p>
            <p class="govuk-body-l">Dingley’s Promise mission is to deliver life changing support to under 5s with special educational needs and disabilities, and their families.</p>
         </div>
      </div>
      <div class="govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-full"></div>
      </div>

    </div>
  </div>
{% endblock %}

{% block beforeContent %}



{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <div class="contents-on-page">
            <p id="contents-list-heading" class="govuk-body govuk-!-margin-bottom-1 govuk-!-font-weight-bold">Contents on this page:</p>
        <ul class="contents-list__list">
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#having-a-simple-and-clear-method-of-assessment">Having a simple and clear method of assessment</a></li>
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#the-four-broad-areas-of-need">The four broad areas of need</a></li>
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#assessment-toolkit">Assessment toolkit</a></li>
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#the-assessment-process">The assessment process</a></li>
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#language-of-assessment">Language of assessment </a></li>
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#using-the-assessment-toolkit-in-practice">Using the assessment toolkit in practice</a></li>
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#one-page-profile">One-page profile</a></li>
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#support-and-achievement">Support and achievement play plans (SAPPs)</a></li>
            <li class="contents-list__list-item contents-list__list-item--dashed"><a href="#further-reading">Further reading</a></li>
          </ul>
        </div>

        
        
          
        
        
          <div class="gem-c-print-link print-button govuk-!-margin-top-7"><button class="govuk-link gem-c-print-link__button" onclick="window.print()" data-module="print-link" >Print this page</button></div>
        
        <div class="govuk-!-margin-top-4">
          <h2 id="having-a-simple-and-clear-method-of-assessment">Having a simple and clear method of assessment</h2>
        
        <p>Practitioners and experts agree that excessive assessment paperwork is not beneficial in early years as it takes valuable time away from interacting with children, and puts unnecessary strain on practitioners. However, for children with special educational needs and disabilities (SEND), a simple and clear method of assessment to capture where children are, so that you can give them the right support at the right time, is essential. This is a practical toolkit that you can use to help children thrive, share their learning with parents, carers or professionals and apply to access funding.</p>

        <img src="/public/images/send-img.jpg" class="image-width govuk-!-margin-bottom-7">

        <p>Effective practice in the early years starts with an effective curriculum. All observations and assessments start from a carefully planned curriculum and should be linked to intended learning. Where you identify additional support is needed due to a child not progressing through the curriculum as intended, you should shape teaching and learning experiences appropriately so each child can learn what you intend. If a child has not secured the intended learning following adaptations to your practice, this is when you should consider additional methods of support for the child, such as this toolkit.</p>
        
        <p>This toolkit has been created to support a child-centred, strengths-based approach to assessing children’s needs. It will support the assessment of potentially non-linear development of each unique child, providing a simple approach to identify and meet their needs as soon as possible. It has been created through surveying and consultation with a range of early years professionals. The recommended tools have all been user tested for effectiveness and functionality to ensure they can be applied within your practice.</p>
        
        <h2 id="the-four-broad-areas-of-need">The four broad areas of need</h2>
        
        <img src="/public/images/send-circle.png" class="image-width govuk-!-margin-bottom-7">
        
        <p>There are four broad areas of need set out within the SEND code of practice, which can be used as a basis for understanding and supporting a child’s individual needs. You should not aim to fit the child strictly into the categories but should be flexible in understanding the whole child and using whichever parts of the different areas are relevant. The four broad areas of need are:</p>
        <ul>
            <li>communication and interaction</li>
            <li>cognition and learning</li>
            <li>social, emotional, and mental health</li>
            <li>sensory and/ or physical needs</li>
        </ul>
        
        <p>For further information read to the <a href="https://www.gov.uk/government/publications/send-code-of-practice-0-to-25" target="_blank">SEND code of practice: 0 to 25 years.</a></p>
        
        
        <h2 id="assessment-toolkit">Assessment toolkit</h2>
        
        <p>This assessment toolkit provides a suggested way of working when assessing children with SEND in the early years. Whether you are a school based provider, group based provider or childminder , this toolkit can be used support your children with potential or known SEND.</p>

        <p>This toolkit provides you with:</p>
        
        <ul>
          <li>an assessment framework centred around the broad areas of need</li>
          <li>examples of how to use the assessment framework in practice</li>
          <li>guidance on recording assessments</li>
          <li>support and achievement play plans (SAPPs)</li>
          <li>SMART targets sheet</li>
          <li>a one page profile</li>
          <li>a glossary of common terms with links to further reading</li>
        </ul>
        
        <p>The areas of assessment have been separated into the four broad areas of needs, with a focus on the core skills children with SEND may gain in each area. Children will develop at their own unique rates and not every child will follow a “typical” pattern of progression of development, this however does not limit a child’s ability to make progress or take away from focusing on the child’s individual strengths.</p>
        
        <p>This assessment tool breaks down anticipated milestones into achievable “I can” statements using a celebratory approach under the four broad areas of need. These are further divided into three sub sections, which allow you to see if there are particular areas of development that may need deeper focus. This enables you to monitor and review a child’s progress clearly and quickly through achievable and strengths-focused statements.</p>
        
        <h2 id="the-assessment-process">The assessment process</h2>
        
        <p>Proactively observing and assessing children is crucial to building your view of the whole child and their individual characteristics, skills and interests. Assessment of children in the early years can help to quickly raise awareness of a development delay and allow you to implement appropriate support at the earliest point, ensuring the needs of both the child and their family are met.</p>
        
        <p>Types of assessment include:</p>
        
        <ul>
          <li>starting point: a developmental review completed with parent and carer views when a child begins attending your setting</li>
          <li>observations: this is the continuous process of noticing what a child knows, understands and can do in order to build knowledge of each individual child</li>
          <li>formative assessments: this is your ongoing assessment,and is vital in the learning and development process. It involves you understanding your children’s interests, what they know and can do, and then shaping teaching and learning experiences for each child reflecting that knowledge.</li>
          <li>summative assessments: these are often written at predetermined points of the year and provide you and the family with a summary of what the child knows, understands and can do at a particular point in time.</li>
        </ul>
        
        <p>There are three statutory summative assessments in the EYFS:</p>
        
        <ul>
          <li><a href="https://www.gov.uk/government/publications/progress-check-at-age-2" target="_blank">Progress Check at Age 2</a>: When a child is aged between two and three, you must review their progress, and provide parents and/or carers with a short, written summary of their child’s development in the three prime areas</li>
          <li><a href="https://www.gov.uk/government/publications/reception-baseline-assessment-framework" target="_blank">Reception Baseline Assessment</a>: a short assessment completed within the first 6 weeks of a child starting reception</li>
          <li><a href="https://www.gov.uk/government/publications/early-years-foundation-stage-profile-handbook" target="_blank">Early Years Foundation Stage Profile</a>: At the end of reception year, each child’s level of development must be assessed against the 17 early learning goals (ELGs) set out in the EYFS</li>
        </ul>
        
       
        
        <p>Exemptions from the EYFS assessment requirements cannot be granted on the basis of a child having SEND. The assessment requirements are important as they help parents, carers and practitioners to recognise children with SEND’s progress, understand their needs, and to plan activities and support.</p>
        
        <p>Potential support for a child with potential or known SEND often starts with assessment, in line with the assess, plan, do, review cycle (the graduated approach). It may be through your observations and assessments you recognise that a child is not meeting the expected developmental milestones. It is through this early recognition that we can implement effective support for children.</p>
        
        <p>For further information on the assess, plan, do, review approach refer to <a href="https://www.pengreen.org/a-celebratory-approach-to-send-assessment-in-the-early-years/" target="_blank">Celebratory Approach to SEND Assessment in the Early Years by Pen Green</a>.</p>
        
        <h2 id="language-of-assessment">Language of assessment</h2>

        <p>When recording assessments for a child with SEND it is beneficial to use strengths-based language.</p>

        <p>This assessment framework promotes a positive view of the child by working towards a series of “I can” statements and so supporting you to recognise and think about what the child is able to achieve and the ways in which they can do this. The assessment framework also uses clear and simple language to support easy judgements when reviewing development, focusing on the progression of the skills the child achieves over time. Each statement is broken down in to three levels:</p>
        
        <ul>
          <li>emerging – the child is showing some interest or awareness of this skill</li>
          <li>supported – the child can achieve this skill with support from another (adult or child)</li>
          <li>independently – the child can consistently achieve this skill on their own without additional support from an adult or child</li>
        </ul>
        
   <h3>Example observation</h3>
       
   <div aria-label="Information" class="application-notice info-notice" role="note"><p>"Aislinn independently chose puzzles from the toy unit today by leading me by the hand to the shelf and pointing to them. I helped her to put them on the table where she began trying to fit the peg puzzle pieces into the slots. She kept trying different ways before looking to me and banging them on the table to indicate wanting support, together we were able to slot the puzzle pieces in. She then pointed to the latch board on the shelf, when I gave this to her she smiled and focused on this self-chosen activity for three minutes before noticing the train track on the floor and going to collect the red trains."</p>
</div>

        <p>This observation, has captured what the child was able to do and how they expressed themselves and communicated their need for support throughout this interaction. When observing children with SEND, you may also find it helpful to note how what you have observed is relevant to the child’s individual needs. Learning records like this do not necessarily need to take a long written format, you can record notes in whichever format you prefer, for example using a:</p>
        
        <ul>
            <li>notebook</li>
            <li>clipboard</li>
            <li>online journal system</li>
          </ul>
        <p>You are likely to find it useful to make note of the important learning that you observe, which can include characteristics of effective learning, the Leuven scale or other support tools you feel are beneficial for the child as these details can be used to assist you when reviewing the child’s development. What you observe, and your knowledge of the child, will be crucial when completing this assessment framework, formative and summative assessments. It is important to remember that observation and assessment should not involve spending a long time away from children creating records.</p>
        
        <h2 id="using-the-assessment-toolkit-in-practice">Using the assessment toolkit in practice</h2>
        
        
        <p>You may introduce the assessment framework at any stage of supporting a child. The development monitoring pages are designed to be used individually or together based on the needs of a child. For example, if during a child’s progress check at age two you or their health visitor notices that the child is not meeting some expected milestones with their speech and language, you may feel the communication and interaction development tool will benefit you and the child. Using the assessment framework, you can focus on the skills the child is achieving and look towards what a child’s priorities for support are and how you can help with this.</p>

        <p>The toolkit may be used in the following way:</p>
        
        <ol>
          <li>An area of concern is recognised through observation and discussed with the family.</li>
          <li>The appropriate broad area(s) of need is selected from the toolkit.</li>
          <li>You complete a start point review using the relevant toolkit..</li>
          <li>You discuss the child’s strengths and strategies to support them and note this on a one-page profile with the family.</li>
          <li>You co-produce a support plan with the family outlining the initial SMART targets for their child. Using specific, measurable, achievable, relevant and time-bound (SMART) targets you can help a child to make that small step progress towards the assessment statements within the toolkit.</li>
          <li>You may want to produce a Support and Achievement Plan Play (SAPP), which will identify long-term goals and record key strategies you may use to support the child. You implement the strategies discussed in practice, noting their impact on the child and how the child engages with your planned support.</li>
          <li>By the end of the term, or appropriate period, you review the impact of the strategies with the family, complete a development monitoring review to determine developmental progress and set out new appropriate targets.</li>
          <li>Repeat steps 5-7 until you feel support is no longer required or you support the child to transition to their next setting or school.</li>
        </ol>

        <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-top-9">
            <div class="gem-c-attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="javascript:void(0)"><img alt="" class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--custom" src="/public/images/Communication-and-language-blank.png" width="140"></a>
            </div>
            <div class="gem-c-attachment__details">
                <h2 class="gem-c-attachment__title">
                <span class="govuk-caption-m">PDF download</span>
                <a class="govuk-link gem-c-attachment__link" target="_self" href="javascript:void(0)">Communication and language - blank</a>
                </h2>
                <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>, <span class="gem-c-attachment__attribute">128 KB</span></p>
            </div>
        </section>

        <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-top-9">
            <div class="gem-c-attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="javascript:void(0)"><img alt="" class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--custom" src="/public/images/Communication-and-interaction-example.png" width="140"></a>
            </div>
            <div class="gem-c-attachment__details">
                <h2 class="gem-c-attachment__title">
                <span class="govuk-caption-m">PDF download</span>
                <a class="govuk-link gem-c-attachment__link" target="_self" href="javascript:void(0)">Communication and language - example</a>
                </h2>
                <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>, <span class="gem-c-attachment__attribute">153 KB</span></p>
            </div>
        </section>

        <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-top-9">
            <div class="gem-c-attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="javascript:void(0)"><img alt="" class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--custom" src="/public/images/Cognition-and-learning-blank.png" width="140"></a>
            </div>
            <div class="gem-c-attachment__details">
                <h2 class="gem-c-attachment__title">
                <span class="govuk-caption-m">PDF download</span>
                <a class="govuk-link gem-c-attachment__link" target="_self" href="javascript:void(0)">Cognition and learning - blank</a>
                </h2>
                <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>, <span class="gem-c-attachment__attribute">128 KB</span></p>
            </div>
        </section>

        <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-top-9">
            <div class="gem-c-attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="javascript:void(0)"><img alt="" class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--custom" src="/public/images/Cognition-and-learning-example.png" width="140"></a>
            </div>
            <div class="gem-c-attachment__details">
                <h2 class="gem-c-attachment__title">
                <span class="govuk-caption-m">PDF download</span>
                <a class="govuk-link gem-c-attachment__link" target="_self" href="javascript:void(0)">Cognition and learning - example</a>
                </h2>
                <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>, <span class="gem-c-attachment__attribute">128 KB</span></p>
            </div>
        </section>

        <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-top-9">
            <div class="gem-c-attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="javascript:void(0)"><img alt="" class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--custom" src="/public/images/Sensory-and-physical-blank.png" width="140"></a>
            </div>
            <div class="gem-c-attachment__details">
                <h2 class="gem-c-attachment__title">
                <span class="govuk-caption-m">PDF download</span>
                <a class="govuk-link gem-c-attachment__link" target="_self" href="javascript:void(0)">Sensory and physical - blank</a>
                </h2>
                <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>, <span class="gem-c-attachment__attribute">128 KB</span></p>
            </div>
        </section>

        <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-top-9">
            <div class="gem-c-attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="javascript:void(0)"><img alt="" class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--custom" src="/public/images/Sensory-and-physical-example.png" width="140"></a>
            </div>
            <div class="gem-c-attachment__details">
                <h2 class="gem-c-attachment__title">
                <span class="govuk-caption-m">PDF download</span>
                <a class="govuk-link gem-c-attachment__link" target="_self" href="javascript:void(0)">Sensory and physical - example</a>
                </h2>
                <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>, <span class="gem-c-attachment__attribute">128 KB</span></p>
            </div>
        </section>

        <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-top-9">
            <div class="gem-c-attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="javascript:void(0)"><img alt="" class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--custom" src="/public/images/Social-and-emotional-blank.png" width="140"></a>
            </div>
            <div class="gem-c-attachment__details">
                <h2 class="gem-c-attachment__title">
                <span class="govuk-caption-m">PDF download</span>
                <a class="govuk-link gem-c-attachment__link" target="_self" href="javascript:void(0)">Social and emotional - blank</a>
                </h2>
                <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>, <span class="gem-c-attachment__attribute">128 KB</span></p>
            </div>
        </section>

        <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-top-9">
            <div class="gem-c-attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="javascript:void(0)"><img alt="" class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--custom" src="/public/images/Social-and-emotional-example.png" width="140"></a>
            </div>
            <div class="gem-c-attachment__details">
                <h2 class="gem-c-attachment__title">
                <span class="govuk-caption-m">PDF download</span>
                <a class="govuk-link gem-c-attachment__link" target="_self" href="javascript:void(0)">Social and emotional - example</a>
                </h2>
                <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>, <span class="gem-c-attachment__attribute">128 KB</span></p>
            </div>
        </section>

        <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-top-9">
            <div class="gem-c-attachment__thumbnail">
                <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="javascript:void(0)"><img alt="" class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--custom" src="/public/images/Smart-goals-example.png" width="140"></a>
            </div>
            <div class="gem-c-attachment__details">
                <h2 class="gem-c-attachment__title">
                <span class="govuk-caption-m">PDF download</span>
                <a class="govuk-link gem-c-attachment__link" target="_self" href="javascript:void(0)">SMART goals - example</a>
                </h2>
                <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>, <span class="gem-c-attachment__attribute">251 KB</span></p>
            </div>
        </section>

<p>There may come a time where you feel external specialist support is required. You may refer to your setting’s or local authority area SENCo for support and guidance or you can directly refer to these services and work with them on any additional support to be implemented. You should only request specialist support when you are satisfied that you have used a graduated approach to understand the child and their needs, and even when they are waiting to be seen you should continue to trial different approaches to support the child.</p>

<p>As an early years practitioner, you play a significant role in supporting inclusive environments where all children can thrive and develop. Adapting your practice to meet the needs of all children is essential. However, some practitioners may feel less confident in their core child development knowledge – something they know is crucial for understanding when children are not making expected progress. To strengthen your understanding of how to identify developmental differences and needs, and help to consider factors affecting children’s development when they access the learning and curriculum on offer, the Department of for education (DfE) has developed an <a href="https://child-development-training.education.gov.uk/?utm_source=govuk&utm_medium=referral&utm_campaign=link" target="_blank">early years child development online training course</a>. You can access it for free.</p>

<h3>Example 1: How to use the framework</h3>
<p>Completing the assessment framework is quick and simple, by reading the statements you can make a judgement as to whether you feel the child is not yet showing awareness of this skill, and so leave it unmarked, or determine whether they are emerging, able to do this with support or able to do this independently. You can then mark the coordinating letter however you wish (circle, highlight, tick, etc.).</p>
<p>You can also note the types of play you observe from the child to support your decision making in appropriate strategies of support or environmental adjustments you can make to enhance their learning.</p>
<p>The statements are organised like building blocks, with the likelihood that the lower blocks are achieved before the higher blocks. However, some children will not progress in a typical way, and you should not be concerned if you are observing that the higher blocks have been achieved before the lower blocks.</p>
<p>Every time you complete an additional review you should use a different colour to evidence where you feel the child is at that point. We recognise that some children may regress with their development on occasion, and this should also be marked, and appropriate next steps and intervention should be caried out.</p>

<h3>Example 2: Using the framework to monitor child progress</h3>
<p>Monitoring how children progress with their learning helps you see where to focus your support. The development growth section enables you to note how a child is progressing over a period of time, recognising areas where the child may need further support and areas in which they are making continuous developmental progress and so highlighting their strengths.</p>
<p>This can be simply monitored by recording the number of emerging, supported or independent statements a child is achieving. For example, where a child is emerging in a statement this would be recorded as 1, supported would be 2 and independent would be 3, you can add these together to see how much of the assessment framework they are covering with each review, monitoring their progress against themselves. You may wish to monitor using percentages. There are a potential 72 points within one statement grid. To calculate a percentage, divide the points given by potential points (72) and multiply by 100. If you have recorded a child as 36 points across the grid this would equate to 36/72X100 = 50%.</p>

<h3>Example 3: Using the framework for the progress check at age 2</h3>
<p>During a progress check, you feel a child is not working towards the anticipated communication milestones. The health visitor has also expressed that there may be a potential delay and the parents had not realised that their child may be experiencing a delay. However, they are pleased it has been identified and are keen to know what support you can offer. You may then use the assessment framework as your next step on the journey to effectively supporting the child and their family. Using the appropriate areas of need you can complete a start point assessment to view what the child is currently achieving, alongside a one-page profile to decide the best initial strategies of support to implement. By using the assessment framework after the progress check, you create a starting point to work from and this supports you in evidencing the successes a child has with the intervention you can provide.</p>

<h3>Example 4: Using the framework to access funding</h3>
<p>Additional funding can be crucial to ensuring equipment, training and appropriate support are in place. Your assessment method should support you to apply for local authority allocated funding. To access funding, it must be clear what broad areas of need a child may have emerging or identified SEND, how this impacts their learning and development, the support currently in place and the potential impact of the support requested. The impact on a child’s learning and development can be enhanced through selecting observations that evidence the child’s needs and how effective the current support provided is. By using the assessment framework, you can show clear progression through small steps-based learning.</p>
<p>To support referrals and funding applications we have determined that a child developing at an expected level will be scoring within the region of the below percentages.</p>

<div class="table-scroll">
    <table class="govuk-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Developmentally typical age</th>
            <th scope="col" class="govuk-table__header hf-tab-width">Communication and interaction</th>
            <th scope="col" class="govuk-table__header hf-tab-width">Sensory and physical</th>
            <th scope="col" class="govuk-table__header hf-tab-width">Social and emotional</th>
            <th scope="col" class="govuk-table__header hf-tab-width">Cognition and learning</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">24-36 months</td>
            <td class="govuk-table__cell">65%</td>
            <td class="govuk-table__cell">75%</td>
            <td class="govuk-table__cell">60%</td>
            <td class="govuk-table__cell">65%</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">37-48 months</td>
            <td class="govuk-table__cell">85%</td>
            <td class="govuk-table__cell">85%</td>
            <td class="govuk-table__cell">85%</td>
            <td class="govuk-table__cell">85%</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">49-60 months</td>
            <td class="govuk-table__cell">95%</td>
            <td class="govuk-table__cell">95%</td>
            <td class="govuk-table__cell">95%</td>
            <td class="govuk-table__cell">95%</td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>We suggest that children who are 15% lower than the anticipated development, within an area of need, may require additional support beyond what you can provide through reasonable adjustments.</p>
    <p>Children who are 30% lower may have more complex needs and require even further support.</p>
    <p>These percentages were determined through a selection of completed assessments on children within our centres. At our specialist centres, our children average 40% below anticipated development.</p>

    <h2 id="one-page-profile">One-page profile</h2>

    <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-top-9">
        <div class="gem-c-attachment__thumbnail">
            <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="javascript:void(0)"><img alt="" class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--custom" src="/public/images/One-page-profile-blank.png" width="140"></a>
        </div>
        <div class="gem-c-attachment__details">
            <h2 class="gem-c-attachment__title">
            <span class="govuk-caption-m">PDF download</span>
            <a class="govuk-link gem-c-attachment__link" target="_self" href="javascript:void(0)">One page profile - template</a>
            </h2>
            <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>, <span class="gem-c-attachment__attribute">250 KB</span></p>
        </div>
    </section>

    <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-top-9">
        <div class="gem-c-attachment__thumbnail">
            <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="javascript:void(0)"><img alt="" class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--custom" src="/public/images/One-page-profile-example.png" width="140"></a>
        </div>
        <div class="gem-c-attachment__details">
            <h2 class="gem-c-attachment__title">
            <span class="govuk-caption-m">PDF download</span>
            <a class="govuk-link gem-c-attachment__link" target="_self" href="javascript:void(0)">One page profile - example</a>
            </h2>
            <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>, <span class="gem-c-attachment__attribute">289 KB</span></p>
        </div>
    </section>

    <p>A one-page profile gathers the information you know and are learning about a child. This creates a clear outline of who the child is as an individual and will enable you and others to consider the child’s strengths, interests and types of play regularly to ensure the support provided is impactful. It is important to reflect on what a child enjoys and doesn’t, as well as any key support that makes the environment and experiences accessible to them throughout the day. The box that may not be familiar to all practitioners is “my types of play”. This area refers to how a child participates in play and can include characteristics of effective learning or the stages of play, that have been observed by you or the family, whether this is solitary play, playing parallel to peers etc. For more information on types of play, follow the links within the further reading section.</p>

    <p>Remember some of this information may change over time, so use regular opportunities with parents to discuss changes in interests, challenges, and communication strategies to ensure you keep a child’s one-page profile up to date.</p>

    <h2 id="support-and-achievement">Support and achievement play plans (SAPPs)</h2>

    <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-top-9">
        <div class="gem-c-attachment__thumbnail">
            <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="javascript:void(0)"><img alt="" class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--custom" src="/public/images/Play-plan-example.png" width="140"></a>
        </div>
        <div class="gem-c-attachment__details">
            <h2 class="gem-c-attachment__title">
            <span class="govuk-caption-m">PDF download</span>
            <a class="govuk-link gem-c-attachment__link" target="_self" href="javascript:void(0)">Support and achievement play plan – example</a>
            </h2>
            <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>, <span class="gem-c-attachment__attribute">364 KB</span></p>
        </div>
    </section>

    <p>To support a child with SEND it can be beneficial to complete a support and achievement play plan (SAPP) this outlines the long-term goals as agreed between the family, key person, SENCo and other relevant professionals. The SAPP is broken down into small steps for the coming term. These should be updated regularly, particularly if you feel a child is achieving the goals they were working on and no longer benefit from the support in the plan.</p>

    <h3>Aligning with the EYFS</h3>

    <p>The four overarching principles of the EYFS are:</p>
    <ul>
        <li>unique child</li>
        <li>positive relationships</li>
        <li>enabling environments</li>
        <li>learning and development</li>
    </ul>
    <p>These are all met through the use of this toolkit and the celebratory approach to SEND by recognising and valuing the child as an individual, working together with parents and professionals, providing effective support to enable the child to access the environment.</p>
    <p>The following alignment guide shows how supporting children with these assessment statements continues to help them on their EYFS development journey so that you can be confident you are still covering the seven areas of learning when using this assessment framework.</p>

    <section class="gem-c-attachment govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-top-9">
        <div class="gem-c-attachment__thumbnail">
            <a class="govuk-link" target="_self" tabindex="-1" aria-hidden="true" href="javascript:void(0)"><img alt="" class="gem-c-attachment__thumbnail-image gem-c-attachment__thumbnail-image--custom" src="/public/images/Assessment-framework.png" width="140"></a>
        </div>
        <div class="gem-c-attachment__details">
            <h2 class="gem-c-attachment__title">
            <span class="govuk-caption-m">PDF download</span>
            <a class="govuk-link gem-c-attachment__link" target="_self" href="javascript:void(0)">Alignment guide</a>
            </h2>
            <p class="gem-c-attachment__metadata"><span class="gem-c-attachment__attribute"><abbr title="Portable Document Format" class="gem-c-attachment__abbr">PDF</abbr></span>, <span class="gem-c-attachment__attribute">112 KB</span></p>
        </div>
    </section>

    <h2 id="further-reading">Further reading</h2>

    <ul>
        <li><a href="https://www.bbc.co.uk/tiny-happy-people/6-stages-of-play/zsc9qyc" target="_blank">Explore 6 stage of play from BBC Tiny Happy People</a></li>
        <li>Learn how to use the <a href="https://send-network.co.uk/posts/using-the-leuven-wellbeing-scale-in-observations-to-assess-children-s-mental-health-and-wellbeing-more-effectively" target="_blank">Leuven wellbeing scale</a> in observations to assess children’s mental health and wellbeing more effectively</li>
        <li><a href="https://www.herefordshire.gov.uk/downloads/file/22740/writing-smart-targets-for-early-years-children-with-send?" target="_blank">Read how Herefordshire Council use SMART targets when creating individual plans</a></li>
    </ul>

        {% include "dec-23/includes/citation.html" %}
        {% include "dec-23/includes/back-to-top.html" %}
        {% include "dec-23/includes/print-this-page.html" %}
    </div>
</div>
</div>

{% include "dec-23/includes/page-ctas.html" %}
{% include "dec-23/includes/training-cta.html" %}
{% endblock %}


{% block footer %}

{% include "dec-23/includes/footer.html" %}
{% endblock %}
