
{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h1 class="govuk-heading-xl">
                    {{ serviceName }}
                    <span class="govuk-caption-xl">{{ releaseVersion }}</span>
                  </h1>{{ releaseVersion | log }}
                </div>
              
                <div class="govuk-grid-column-two-thirds">
                  <h2 class="govuk-heading-m">Prototypes</h2>

                  
                  <ul class="govuk-list govuk-list--bullet">
                    <li><a href="dec-23/">Redesigned version of site with nutrition and SEND UR test articles</a></li>
                  </ul>
                  
                </div>
            
                <div class="govuk-grid-column-one-third">
                  <h2 class="govuk-heading-m">Notes on prototype</h2>
                  <p classs="govuk-body"></p>
                  <p>This is a finalised cleaned up version of the Early Years Child Development Training prototype.</p>

                    <p>Older designs that are no longer relevant or that have now been released to production have been removed. Access to these can be made via the GIT repo if required.</p>
                </div>
              </div>
            </div>
            
            
        </div>
    </div>
{% endblock %}
