
{% extends "layout-dfe-updated-pt.html" %}
{% set removeAllLinks = true %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <h1 class="govuk-heading-xl">
                    Prototype your service using GOV.UK Prototype Kit.
                    <span class="govuk-caption-xl">{{ releaseVersion }}</span>
                  </h1>{{ releaseVersion | log }}
                </div>
              
                <div class="govuk-grid-column-two-thirds">
                  <h2 class="govuk-heading-m">Prototypes</h2>

                  <h2 class="govuk-heading-s">December 23</h2>
                  <p>Latest version of redesign</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li><a href="dec-23/">Home page</a></li>
                  </ul>
                </div>
            
                <div class="govuk-grid-column-one-third">
                  <h2 class="govuk-heading-m">Notes on prototype</h2>
                  <p classs="govuk-body"></p>
                  <p>This prototypye shows the new design for the Help for early years providers website. The prototype was set up on 12/12/23 and compliments the current prototype.</p>
                </div>
              </div>
            </div>
            
            
        </div>
    </div>
{% endblock %}
